<p-sidebar [(visible)]="appMain.rightMenuActive" [position]="app.isRTL ? 'left' : 'right'" [blockScroll]="true"
    [showCloseIcon]="false" [baseZIndex]="1000"
    [styleClass]="'layout-rightmenu p-sidebar-sm fs-small p-py-3 ' + (app.isRTL ? 'p-pl-0 p-pr-3' : 'p-pl-3 p-pr-0')">
    <div class="next-events p-d-flex p-flex-column p-mt-6" [ngClass]="{'p-ml-3': !app.isRTL, 'p-mr-3': app.isRTL}">
        <h6 class="header">Ultimas noticias</h6>
        <ul>
            <li><i class="pi pi-eye" [ngClass]="{'p-mr-3': !app.isRTL, 'p-ml-3': app.isRTL}"></i>La primera</li>
            <li><i class="pi pi-video" [ngClass]="{'p-mr-3': !app.isRTL, 'p-ml-3': app.isRTL}"></i>La segunda</li>
            <li><i class="pi pi-sitemap" [ngClass]="{'p-mr-3': !app.isRTL, 'p-ml-3': app.isRTL}"></i>Tercera</li>
            <li><i class="pi pi-compass" [ngClass]="{'p-mr-3': !app.isRTL, 'p-ml-3': app.isRTL}"></i>Cuarta</li>
            <li><i class="pi pi-palette" [ngClass]="{'p-mr-3': !app.isRTL, 'p-ml-3': app.isRTL}"></i>Quinta</li>
        </ul>
    </div>
</p-sidebar>