<div class="pages-body login-page p-d-flex p-flex-column">
    <div class="topbar p-p-3 p-d-flex p-jc-between p-flex-row p-ai-center">
        <div class="topbar-left p-ml-3 p-d-flex" routerLink="/">
            <div class="logo">
                <img src="assets/layout/images/IconoOCMblanco.png" alt="" />
                <span style="color: aliceblue;">Observatorio Ciudadano Municipal de Jerez</span>
            </div>
        </div>
    </div>

    <div class="p-as-center p-mt-auto p-mb-auto">
        <div class="pages-panel card p-d-flex p-flex-column">
            <div class="pages-header p-px-3 p-py-1">
                <h2>LOGIN</h2>
            </div>
            <h4>Bienvenido</h4>
            <div class="pages-detail p-mb-6 p-px-6">Por favor, usa este formulario para identificarte.</div>

            <form novalidate [formGroup]="formGroup" autocomplete="off">
                <div class="OCM-login">
                    <div class="p-field">
                        <label for="user">Usuario</label>
                        <input type="text" id="user" pInputText autofocus formControlName="user">
                        <small class="OCM-error"> {{getError('user')}}</small>
                    </div>

                    <div class="p-field">
                        <label for="password">Password</label>
                        <input type="password" id="password" pInputTextarea formControlName="password">
                        <small class="OCM-error">{{getError('password')}}</small>
                    </div>

                    <!-- <button class="OCM-Button" type="button" (click)="login()">Login</button> -->
                    <button class="OCM-Button" type="button" (click)="login()">Login</button>
                </div>

                <div style="margin-top: 40px;">
                    <span class="p-b-17"> ¿No tienes cuenta? </span>
                    <br>
                    <button class="OCM-Button" type="button" [routerLink]="['/auth/register']">Crear una
                        aquí</button>
                </div>
            </form>

        </div>
    </div>
</div>