/* Add your customizations of layout here */
.layout-topbar {
    .notifications {
        .layout-topbar-action-panel {
            img {
                width: 32px;
                height: 32px;
            }

            .layout-topbar-action-item {
                border-bottom: 1px solid $dividerColor;

                &:last-child {
                    border-bottom: 0 none;
                }
            }
        }
    }

    .app {
        .layout-topbar-action-panel {
            .action {
                color: #ffffff;
            }

            .indigo {
                background-color: $indigo;
            }

            .orange {
                background-color: $orange;
            }

            .teal {
                background-color: $teal;
            }

            .cyan {
                background-color: $cyan;
            }

            .pink {
                background-color: $pink;
            }

            .bluegrey {
                background-color: $bluegrey;
            }

            .yellow {
                background-color: $yellow;
            }

            a {
                color: $textColor;
                padding: .5rem 0;

                i {
                    width: 42px;
                    height: 42px;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    margin: .5rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.layout-rightpanel {
    .header {
        padding-bottom: .5rem;
        margin-bottom: .714rem;
        border-bottom: 1px solid #E4E4E4;
    }

    .online-members {
        img {
            width: 32px;
        }

        b {
            color: var(--primary-color)
        }
    }

    .latest-activity {
        i {
            border: 1px solid transparent;
            border-radius: 50px;
            background-color: var(--content-alt-bg-color);
        }
    }

    .next-events {
        ul {
            margin: 0;
            list-style-type: none;
            padding: 0;

            > li {
                padding: .875rem .5rem;
            }
        }
    }
}
