<div class="p-grid dashboard">
    <div class="p-col-12 p-md-4">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>Días retraso PMP</h5>
            </div>
            <p-chart
                #doughnut
                type="doughnut"
                [data]="doughnutData"
                [options]="doughnutOptions"
                responsive="true"
            ></p-chart>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>Días Cuenta General 2019</h5>
            </div>
            <p-chart
                #doughnut
                type="doughnut"
                [data]="doughnutData"
                [options]="doughnutOptions"
                responsive="true"
            ></p-chart>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>Días retraso Cuenta General 2020</h5>
            </div>
            <p-chart
                #doughnut
                type="doughnut"
                [data]="doughnutData"
                [options]="doughnutOptions"
                responsive="true"
            ></p-chart>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>Días retraso PMP</h5>
            </div>
            <p-chart
                #doughnut
                type="doughnut"
                [data]="doughnutData"
                [options]="doughnutOptions"
                responsive="true"
            ></p-chart>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>Días Cuenta General 2019</h5>
            </div>
            <p-chart
                #doughnut
                type="doughnut"
                [data]="doughnutData"
                [options]="doughnutOptions"
                responsive="true"
            ></p-chart>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>Días retraso Cuenta General 2020</h5>
            </div>
            <p-chart
                #doughnut
                type="doughnut"
                [data]="doughnutData"
                [options]="doughnutOptions"
                responsive="true"
            ></p-chart>
        </div>
    </div>
</div>
