$bodyBgColor:#212121 !default;
$textColor:#ffffff !default;
$textSecondaryColor:#BDBDBD !default;

//change colors
$activityUserTextColor:#9E9E9E !default;
$activityUserIconColor:#757575 !default;
$activityUserIconBgColor:#ECEFF1 !default;
$appsIconTextColor:#FFFFFF !default;
$appsImageIconBgColor: #3F51B5 !default;
$appsFileIconBgColor: #FF8F00 !default;
$appsDollarIconBgColor: #388E3C !default;
$appsCogIconBgColor: #37474F !default;
$appsKeyIconBgColor: #C2185B !default;
$appsSitemapIconBgColor: #0097A7 !default;

$contentBgColor:#424242 !default;
$contentAltBgColor:#212121 !default;
$dividerColor:#616161 !default;

$menuTooltipBgColor:#1c202c !default;
$menuTooltipTextColor:#ffffff !default;

$yellow: #FFE082 !default;;
$cyan: #4DD0E1 !default;;
$pink: #F48FB1 !default;;

:root{
    --content-alt-bg-color:#{$contentAltBgColor};
}

@import './_layout_common';
