$bodyBgColor:#212121 !default;
$textColor:#ffffff !default;
$textSecondaryColor:#BDBDBD !default;

$contentBgColor:#424242 !default;
$contentAltBgColor:#212121 !default;
$dividerColor:#616161 !default;

$menuTooltipBgColor:#1c202c !default;
$menuTooltipTextColor:#ffffff !default;

$yellow: #FFE082 !default;;
$cyan: #4DD0E1 !default;;
$pink: #F48FB1 !default;;

:root{
    --content-alt-bg-color:#{$contentAltBgColor};
}

@import './_layout_common';
