$bodyBgColor:#212121 !default;
$textColor:#ffffff !default;
$textSecondaryColor:#BDBDBD !default;

$contentBgColor:#424242 !default;
$contentAltBgColor:#212121 !default;
$dividerColor:#616161 !default;

$menuTooltipBgColor:#1c202c !default;
$menuTooltipTextColor:#ffffff !default;

$pink: #F06292 !default;;
$indigo: #7986CB !default;
$yellow: #FFD54F !default;;
$orange: #FFB74D !default;
$teal: #4DB6AC !default;
$cyan: #4DD0E1 !default;;
$bluegrey: #78909C !default;

:root{
    --content-alt-bg-color:#{$contentAltBgColor};
}

@import './_layout_common';
