$bodyBgColor:#f7f7f7 !default;
$textColor:#212121 !default;
$textSecondaryColor:#616161 !default;

$activityUserTextColor:#9E9E9E !default;
$activityUserIconColor:#757575 !default;
$activityUserIconBgColor:#ECEFF1 !default;
$appsIconTextColor:#FFFFFF !default;
$appsImageIconBgColor: #3F51B5 !default;
$appsFileIconBgColor: #FF8F00 !default;
$appsDollarIconBgColor: #388E3C !default;
$appsCogIconBgColor: #37474F !default;
$appsKeyIconBgColor: #C2185B !default;
$appsSitemapIconBgColor: #0097A7 !default;

$contentBgColor:#ffffff !default;
$contentAltBgColor:#ECEFF1 !default;
$dividerColor:#E4E4E4 !default;

$menuTooltipBgColor:#1c202c !default;
$menuTooltipTextColor:#ffffff !default;

$yellow: #FFC107 !default;;
$cyan: #00ACC1 !default;;
$pink: #E91E63 !default;;

:root{
    --content-alt-bg-color:#{$contentAltBgColor};
}

@import './_layout_common';


