// https://forum.primefaces.org/viewtopic.php?t=58188
// https://forum.primefaces.org/viewtopic.php?t=65325
// https://dev.to/monicafidalgo/what-is-viewencapsulation-in-angular-470o

// * selected */
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
background: brown;
border-color: brown;
color: white;
}
