$textColor: #212121;
$textSecondaryColor: #757575;
$fontSize: 1em;
$lineHeight: 1.5em;
$borderRadius: 3px;
$headerFontSize: 1em;
$headerPadding: .625em 1em;
$contentFontSize: 1em;
$contentPadding: .625em 1em;
$inputHeaderFontSize: 1em;
$inputHeaderPadding: .625em 1em;
$inputFontSize: 1em;
$buttonFontSize: 1em;
$inputOptionFontSize: 1em;
$inputOptionPadding: .625em .875em;
$hoverBgColor: #e8e8e8;
$hoverTextColor: #000000;
$dividerColor: #bdbdbd;
$dividerLightColor: #cacaca;
$grayBgColor: #757575;
$iconFontSize: 1em;
$invalidInputBorderColor: #e62a10;
$errorMessageFontSize: .075em;

/* Compact */
$c-fontSize: 14px;
$c-lineHeight: 18px;
$c-headerFontSize: 14px;
$c-headerPadding: 8px 14px;
$c-contentFontSize: 14px;
$c-contentPadding: 8px 14px;
$c-iconFontSize: 20px;
$c-buttonFontSize: 14px;
$c-inputFontSize: 14px;
$c-inputHeaderFontSize: 14px;
$c-inputHeaderPadding: 6px 10px;
$c-inputOptionFontSize: 14px;
$c-inputOptionPadding: 6px 10px;
$c-dtPadding: 6px 10px;
$c-errorMessageFontSize: 10px;