$textColor: #212121;
$textSecondaryColor: #757575;
$fontSize: 1em;
$lineHeight: 1.5em;
$borderRadius: 3px;
$headerFontSize: 1em;
$headerPadding: .625em 1em;
$contentFontSize: 1em;
$contentPadding: .625em 1em;
$inputHeaderFontSize: 1em;
$inputHeaderPadding: .625em 1em;
$inputFontSize: 1em;
$buttonFontSize: 1em;
$inputOptionFontSize: 1em;
$inputOptionPadding: .625em .875em;
$hoverBgColor: #e8e8e8;
$hoverTextColor: #000000;
$dividerColor: #bdbdbd;
$dividerLightColor: #cacaca;
$grayBgColor: #757575;
$iconFontSize: 1em;
$invalidInputBorderColor: #e62a10;
$errorMessageFontSize: .075em;

/* Compact */
$c-fontSize: 14px;
$c-lineHeight: 1.286em;
$c-headerFontSize: 1em;
$c-headerPadding: 0.571em 1em;
$c-contentFontSize: 1em;
$c-contentPadding: 0.571em 1em;
$c-iconFontSize: 1.429em;
$c-buttonFontSize: 1em;
$c-inputFontSize: 1em;
$c-inputHeaderFontSize: 1em;
$c-inputHeaderPadding: .429em .714em;
$c-inputOptionFontSize: 1em;
$c-inputOptionPadding: .429em .714em;
$c-dtPadding: .429em .714em;
$c-errorMessageFontSize: .786em;