.layout-menu-dark {
    $menuBgColor:#424242;
    $menuShadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.2);

    $rootMenuTextColor:#ffffff;

    $menuItemTextColor:#bdbdbd;
    $menuItemHoverBgColor:#363636;
    $activeMenuItemTextColor:#ffffff;
    $activeMenuItemBgColor: #212121;

    $submenuBgColor:#434B54;
    $submenuItemTextColor:#bdbdbd;
    $submenuItemHoverBgColor:#363636;
    $activeSubmenuItemTextColor: var(--primary-color);
    $activeSubmenuItemBgColor: #E8EAF6;

    @import '../_menu_theme';
}
