.layout-menu-dark {
    $menuBgColor:#424242;
    
    $rootMenuTextColor:#ffffff;

    $menuItemTextColor:#bdbdbd;
    $menuItemHoverBgColor:#363636;
    $activeMenuItemTextColor:#ffffff;
    $activeMenuItemBgColor: #212121;

    @import '../_menu_exports';
    @import '../_menu_theme';
}
