.layout-menu-indigo {
    $menuBgColor:#1A237E;
    $menuShadow:  0 2px 12px 0 rgba(0, 0, 0, 0.06);

    $rootMenuTextColor:#ffffff;

    $menuItemTextColor:rgba(255,255,255,.6);
    $menuItemHoverBgColor:rgba(255,255,255,.12);;
    $activeMenuItemTextColor:#ffffff;
    $activeMenuItemBgColor: rgba(255,255,255,.24);

    @import '../_menu_exports';
    @import '../_menu_theme';
}
