.layout-menu-light {
    $menuBgColor:#FDFEFF;

    $rootMenuTextColor:#657380;

    $menuItemTextColor:#515C66;
    $menuItemHoverBgColor:rgba(#5a657c, .2);
    $activeMenuItemTextColor: var(--primary-menu-text-color);
    $activeMenuItemBgColor: var(--primary-lightest-color);

    @import '../_menu_exports';
    @import '../_menu_theme';
}
