.layout-menu-dark {
    $menuBgColor:#424242;
    $menuShadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.2);

    $rootMenuTextColor:#ffffff;

    $rootMenuItemTextColor:#bdbdbd;
    $rootMenuItemHoverBgColor:#363636;
    $activeRootMenuItemTextColor:#ffffff;
    $activeRootMenuItemIconColor: var(--primary-color);
    $activeRootMenuItemBgColor: #212121;
    $menuItemIconColor:#bdbdbd;

    $submenuItemTextColor:#bdbdbd;
    $submenuItemHoverBgColor:#363636;
    $activeSubmenuItemTextColor: var(--primary-color);

    $externalSubmenuBgColor:#434B54;


    @import '../_menu_theme';
}

