<div class="pages-body p-d-flex p-flex-column">

    <div class="topbar p-p-3 p-d-flex p-jc-between p-flex-row p-ai-center">
        <div class="topbar-left p-ml-3 p-d-flex">
            <div class="logo">
                <img src="assets/img/IconoOCMblanco.png" alt="iconoOCM" />
                <span style="color: aliceblue; margin-left: 10px;">Observatorio Ciudadano Municipal de Jerez</span>
            </div>
        </div>
    </div>

    <div class="p-as-center p-mt-auto p-mb-auto">
        <div class="pages-panel card p-d-flex p-flex-column">
            <div class="card p-mt-3 p-px-6">
                <img src="assets/img/404error.png" alt="" />
            </div>
            <div class="p-flex-row p-ai-center">
                <button [routerLink]="['/']">Volver al menu principal</button>
            </div>
        </div>
    </div>

</div>