body {
    .layout-wrapper.layout-compact {
        font-size: $c-fontSize;
        line-height: $c-lineHeight;
        
        .layout-container {
            .ultima-menu {
                li {
                    a {
                        font-size: $c-fontSize;
                        padding: 8px 16px;
                        
                        i:first-child {
                            font-size: $c-iconFontSize;
                        }
                        
                        i:last-child {
                            font-size: 18px;
                        }
                    }
                    
                    ul {
                        li {
                            a {
                                padding: 8px 16px 8px 32px;
                                font-size: $c-fontSize;
                            }
                            
                            ul {
                                li {
                                    a {
                                        padding-left: 48px;
                                    }
                                }
                                
                                ul {
                                    li {
                                        a {
                                            padding-left: 64px;
                                        }
                                    }
                                    
                                    ul {
                                        li {
                                            a {
                                                padding-left: 80px;
                                            }
                                        }
                                        
                                        ul {
                                            li {
                                                a {
                                                    padding-left: 96px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .layout-menu {
                #profile-menu {
                    margin-top: 14px;
                    
                    li:last-child {
                        margin-bottom: 14px;
                    }
                }
                
                > .nano > .nano-content > ul:last-child {
                    margin-top: 14px;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
body {
    .layout-wrapper.layout-compact {
        .layout-container {
            &.menu-layout-horizontal {
                .layout-menu {
                    ul.ultima-menu {
                        > li {
                            > ul {
                                top: 36px;
                                
                                li {
                                    a {
                                        padding: 8px 16px 8px 16px;
                                        font-size: $c-fontSize;
                                    }
                                    
                                    ul {
                                        li {
                                            a {
                                                padding-left: 32px;
                                            }
                                        }
                                        
                                        ul {
                                            li {
                                                a {
                                                    padding-left: 48px;
                                                }
                                            }
                                            
                                            ul {
                                                li {
                                                    a {
                                                        padding-left: 64px;
                                                    }
                                                }
                                                
                                                ul {
                                                    li {
                                                        a {
                                                            padding-left: 80px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    > .nano > .nano-content > ul:last-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
    
}

@media (max-width: 640px) {   
    body {
        .layout-wrapper.layout-compact {                  
            .ui-orderlist {
                &.ui-grid-responsive {
                    .ui-orderlist-controls {
                        width: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
        .layout-wrapper.layout-compact {   
            .layout-container {
                .topbar {
                    .topbar-right {                        
                        .topbar-items {
                            > li {
                                > a {
                                    font-size: $c-fontSize;
                                    padding: 14px 16px;
                                    
                                    i {
                                        font-size: $c-iconFontSize;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
