<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left">
            <div class="layout-topbar-logo" id="logolink" style="cursor: pointer; outline: none;" routerLink="/">
                <img id="app-logo"
                     [src]="'assets/layout/images/logo2x.png'"
                     alt="ultima-layout">
            </div>
        </div>

        <div class="layout-topbar-right">
            <a class="menu-button" href="#" (click)="appMain.onMenuButtonClick($event)">
                <i class="pi pi-chevron-right"></i>
            </a>

            <ul class="layout-topbar-actions">
                <li #searchItem class="search-item topbar-item" [ngClass]="{'active-topmenuitem': appMain.search}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,searchItem)">
                        <span class="topbar-icon">
                            <i class="pi pi-search"></i>
                        </span>
                    </a>

                    <ul class="fadeInDown">
                        <div class="search-input-wrapper p-fluid">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Search..." (click)="appMain.searchClick = true;"/>
                            </span>
                        </div>
                    </ul>
                </li>
                <li #notifications class="topbar-item notifications"
                    [ngClass]="{'active-topmenuitem':appMain.activeTopbarItem === notifications}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,notifications)">
                        <span class="p-overlay-badge topbar-icon">
                            <i class="pi pi-bell"></i>
                            <span class="p-badge">4</span>
                        </span>
                    </a>
                    <ul class="fadeInDown">
                        <p class="p-ml-3 p-mt-3 p-mb-4">You have <b>4</b> new notifications</p>
                        <li role="menuitem" class="p-my-0">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <div class="p-d-flex">
                                    <img class="p-mr-3" src="../assets/demo/images/avatar/avatar-1.png"/>
                                    <div class="p-d-flex p-flex-column">
                                        <div class="p-d-flex p-jc-between">
                                            <h6 class="p-my-0">Jerome Bell</h6>
                                            <p>42 mins ago</p>
                                        </div>
                                        <p>How to write content about your photographs?</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <hr class="p-my-0"/>
                        <li role="menuitem" class="p-my-0">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <div class="p-d-flex">
                                    <img class="p-mr-3" src="../assets/demo/images/avatar/avatar-2.png"/>
                                    <div class="p-d-flex p-flex-column">
                                        <div class="p-d-flex p-jc-between">
                                            <h6 class="p-my-0">Cameron Williamson</h6>
                                            <p>48 mins ago</p>
                                        </div>
                                        <p>Start a blog to reach your creative peak.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <hr class="p-my-0"/>
                        <li role="menuitem" class="p-my-0">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <div class="p-d-flex">
                                    <img class="p-mr-3" src="../assets/demo/images/avatar/avatar-3.png"/>
                                    <div class="p-d-flex p-flex-column">
                                        <div class="p-d-flex p-jc-between">
                                            <h6 class="p-my-0">Anna Miles</h6>
                                            <p>1 day ago</p>
                                        </div>
                                        <p>Caring is the new marketing</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <hr class="p-my-0"/>
                        <li role="menuitem" class="p-mb-4">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <div class="p-d-flex">
                                    <img class="p-mr-3" src="../assets/demo/images/avatar/avatar-4.png"/>
                                    <div class="p-d-flex p-flex-column">
                                        <div class="p-d-flex p-jc-between">
                                            <h6 class="p-my-0">Arlene Mccoy</h6>
                                            <p>4 day ago</p>
                                        </div>
                                        <p>Starting your traveling blog with Vasco.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li #apps class="topbar-item"
                    [ngClass]="{'active-topmenuitem':appMain.activeTopbarItem === apps}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,apps)">
                        <span class="topbar-icon">
                            <i class="pi pi-table"></i>
                        </span>
                    </a>
                    <ul class="fadeInDown">
                        <div class="apps p-grid p-px-3">
                            <div class="p-col-4">
                                <a class="p-d-flex p-flex-column p-jc-center p-ai-center p-py-3" href="#"
                                   (click)="appMain.onTopbarItemClick($event,notifications)">
                                    <i class="pi pi-image p-my-3"></i>
                                    <h6>Products</h6>
                                </a>
                            </div>
                            <div class="p-col-4">
                                <a class="p-d-flex p-flex-column p-jc-center p-ai-center p-py-3" href="#"
                                   (click)="appMain.onTopbarSubItemClick($event)">
                                    <i class="pi pi-file-pdf p-my-3"></i>
                                    <h6>Reports</h6>
                                </a>
                            </div>
                            <div class="p-col-4">
                                <a class="p-d-flex p-flex-column p-jc-center p-ai-center p-py-3" href="#"
                                   (click)="appMain.onTopbarSubItemClick($event)">
                                    <i class="pi pi-dollar p-my-3"></i>
                                    <h6>Balance</h6>
                                </a>
                            </div>
                            <div class="p-col-4">
                                <a class="p-d-flex p-flex-column p-jc-center p-ai-center p-pb-3" href="#"
                                   (click)="appMain.onTopbarSubItemClick($event)">
                                    <i class="pi pi-cog p-my-3"></i>
                                    <h6>Settings</h6>
                                </a>
                            </div>
                            <div class="p-col-4">
                                <a class="p-d-flex p-flex-column p-jc-center p-ai-center p-pb-3" href="#"
                                   (click)="appMain.onTopbarSubItemClick($event)">
                                    <i class="pi pi-key p-my-3"></i>
                                    <h6>Credentials</h6>
                                </a>
                            </div>
                            <div class="p-col-4">
                                <a class="p-d-flex p-flex-column p-jc-center p-ai-center p-pb-3" href="#"
                                   (click)="appMain.onTopbarSubItemClick($event)">
                                    <i class="pi pi-sitemap p-my-3"></i>
                                    <h6>Sitemap</h6>
                                </a>
                            </div>
                        </div>
                    </ul>
                </li>
                <li #profile class="topbar-item user-profile"
                    [ngClass]="{'active-topmenuitem':appMain.activeTopbarItem === profile}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                        <img class="profile-image" src="assets/layout/images/avatar-profile.png" alt="demo">
                        <div class="profile-info">
                            <h6>Peter Taylor</h6>
                            <span>Webmaster</span>
                        </div>
                    </a>

                    <ul class="fadeInDown">
                        <li class="layout-submenu-header">
                            <img class="profile-image" src="assets/layout/images/avatar-profile.png" alt="demo">
                            <div class="profile-info">
                                <h6>Peter Taylor</h6>
                                <span>Webmaster</span>
                            </div>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-cog"></i>
                                <h6>Settings</h6>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-file-o"></i>
                                <h6>Terms of Usage</h6>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-compass"></i>
                                <h6>Support</h6>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-power-off"></i>
                                <h6>Logout</h6>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <a class="layout-rightpanel-button" href="#" (click)="appMain.onRightPanelButtonClick($event)">
                <i class="pi pi-arrow-left"></i>
            </a>
        </div>
    </div>
</div>
