<h3>Presupuesto</h3>

<div class="p-grid dashboard">
    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2015</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2016</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2017</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2018</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2019</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div
            class="card widget-insights height-100"
            style="background-color: rgb(116, 241, 116)"
        >
            <div class="card-header p-mb-2">
                <h5>2020</h5>
                <a href="http://pre2020.ocmjerez.org/#/home" target="_blank"
                    >App OCM</a
                >
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2021</h5>
                <h5>Próloga</h5>
            </div>
        </div>
    </div>
</div>

<h3 style="margin-top: 40px">Liquidación</h3>
<div class="p-grid dashboard">
    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2015</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2016</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2017</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2018</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2019</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2020</h5>
                <a href="http://pre2020.ocmjerez.org/#/home" target="_blank"
                    >App OCM</a
                >
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2021</h5>
                <h5>Próloga</h5>
            </div>
        </div>
    </div>
</div>

<h3 style="margin-top: 40px">Ejecución</h3>
<div class="p-grid dashboard">
    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2015</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2016</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2017</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2018</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2019</h5>
                <h5>No hay app</h5>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2020</h5>
                <a href="http://pre2020.ocmjerez.org/#/home" target="_blank"
                    >App OCM</a
                >
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-3">
        <div class="card widget-insights height-100">
            <div class="card-header p-mb-2">
                <h5>2021</h5>
                <h5>Próloga</h5>
            </div>
        </div>
    </div>
</div>
