.landing-body {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }

    ul {
        @include reset-list;
    }

    .section {
        padding: 2rem 15rem;
    }

    #header {
        width: 100%;
        min-height: 400px;
        background: url("../images/landing/landing-header.png") top left no-repeat #f7f7f7;
        background-size: 100% auto;

        a {
            color: #ffffff;
        }

        #menu {
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        .header-text {
            flex-grow: 1;
            color: #ffffff;
        }
    }

    #features {
        .feature-button {
            width: 100px;
            height: 100px;
        }
    }

    #promotion {
        background: url("../images/landing/promotion.png") top left no-repeat;
        background-size: 100% auto;
    }

    #pricing {
        .pricing-content {
            width: 100%;

            .options {
                padding: 2rem 4rem;

                li {
                    display: flex;
                    align-items: center;
                }

                i, span {
                    padding: 1rem;
                }

                span {
                    font-size: 1.2rem;
                }
            }
        }
    }

    #footer {
        border-top: 1px solid $dividerColor;

        a {
            color: #212121;
        }

        li {
            padding: .25rem;
        }
    }
}
