html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 1rem;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    background-color: $bodyBgColor;
    min-height: 100%;

    a {
        text-decoration: none;
        color: $textSecondaryColor;
    }

    .fs-xsmall {
        font-size: .715rem !important;
    }

    .fs-small {
        font-size: .858rem !important;
    }

    .fs-normal {
        font-size: 1rem !important;
    }

    .fs-large {
        font-size: 1.5rem !important;
    }

    .fs-xlarge {
        font-size: 2rem !important;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .muted-text {
        color: $textSecondaryColor !important;
    }

    .text-color {
        color: $textColor !important;
    }

    .white-color {
        color: #ffffff !important;
    }

    .dark-color {
        color: #212121 !important;
    }

    .pink-color {
        color: $pink !important;
    }

    .indigo-color {
        color: $indigo !important;
    }

    .yellow-color {
        color: $yellow !important;
    }

    .orange-color {
        color: $orange !important;
    }

    .teal-color {
        color: $teal !important;
    }

    .cyan-color {
        color: $cyan !important;
    }

    .bluegrey-color {
        color: $bluegrey !important;
    }

    .purple-color {
        color: $purple !important;
    }

    .deeppurple-color {
        color: $deeppurple !important;
    }

    .blue-color {
        color: $blue !important;
    }

    .lightblue-color {
        color: $lightblue !important;
    }

    .green-color {
        color: $green !important;
    }

    .lightgreen-color {
        color: $lightgreen !important;
    }

    .lime-color {
        color: $lime !important;
    }

    .deeporange-color {
        color: $deeporange !important;
    }

    .brown-color {
        color: $brown !important;
    }

    .pink-bgcolor {
        background-color: $pink !important;
    }

    .indigo-bgcolor {
        background-color: $indigo !important;
    }

    .yellow-bgcolor {
        background-color: $yellow !important;
    }

    .orange-bgcolor {
        background-color: $orange !important;
    }

    .teal-bgcolor {
        background-color: $teal !important;
    }

    .cyan-bgcolor {
        background-color: $cyan !important;
    }

    .bluegrey-bgcolor {
        background-color: $bluegrey !important;
    }

    .purple-bgcolor {
        background-color: $purple !important;
    }

    .deeppurple-bgcolor {
        background-color: $deeppurple !important;
    }

    .blue-bgcolor {
        background-color: $blue !important;
    }

    .lightblue-bgcolor {
        background-color: $lightblue !important;
    }

    .green-bgcolor {
        background-color: $green !important;
    }

    .lightgreen-bgcolor {
        background-color: $lightgreen !important;
    }

    .lime-bgcolor {
        background-color: $lime !important;
    }

    .deeporange-bgcolor {
        background-color: $deeporange !important;
    }

    .brown-bgcolor {
        background-color: $brown !important;
    }
}

.layout-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 996;
    width: 100%;
    height: 100%;
    animation-duration: $animationDuration;
    animation-timing-function: $animationTimingFunction;
    animation-fill-mode: forwards;
}

.layout-wrapper {
    .layout-main {
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;

        .layout-content {
            padding: 2rem;
            padding-top: 1rem;
            flex: 1 1 0;
        }
    }
}

.layout-ajax-loader-icon {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    font-size: 2rem;
    color: $textSecondaryColor;
    z-index: 999;
}

.card {
    background-color: $contentBgColor;
}
