html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: $fontSize;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    background-color: $bodyBgColor;
    min-height: 100%;

    a {
        text-decoration: none;
    }

    .fs-xsmall {
        font-size: .715rem !important;
    }

    .fs-small {
        font-size: .858rem !important;
    }

    .fs-normal {
        font-size: 1rem !important;
    }

    .fs-large {
        font-size: 1.5rem !important;
    }

    .fs-xlarge {
        font-size: 2rem !important;
    }

    .muted-text {
        color: $textSecondaryColor !important;
    }

    .text-color {
        color: $textColor !important;
    }

    .white-color {
        color: #ffffff !important;
    }

    .dark-color {
        color: #212121 !important;
    }

    .pink-color {
        color: $pink !important;
    }

    .indigo-color {
        color: $indigo !important;
    }

    .yellow-color {
        color: $yellow !important;
    }

    .orange-color {
        color: $orange !important;
    }

    .teal-color {
        color: $teal !important;
    }

    .cyan-color {
        color: $cyan !important;
    }

    .bluegrey-color {
        color: $bluegrey !important;
    }

    .pink-bgcolor {
        background-color: $pink !important;
    }

    .indigo-bgcolor {
        background-color: $indigo !important;
    }

    .yellow-bgcolor {
        background-color: $yellow !important;
    }

    .orange-bgcolor {
        background-color: $orange !important;
    }

    .teal-bgcolor {
        background-color: $teal !important;
    }

    .cyan-bgcolor {
        background-color: $cyan !important;
    }

    .bluegrey-bgcolor {
        background-color: $bluegrey !important;
    }
}

.layout-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 996;
    width: 100%;
    height: 100%;
    animation-duration: $animationDuration;
    animation-timing-function: $animationTimingFunction;
    animation-fill-mode: forwards;
}

.layout-wrapper {
    .layout-main {
        padding-top: 56px;
        @include flex();
        @include flex-direction-column();
        @include flex-justify-between();
        min-height: 100vh;

        .layout-content {
            padding: 32px;
            padding-top: 12px;
            flex: 1 1 0;
        }
    }
}

.layout-ajax-loader-icon {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    font-size: 2rem;
    color: $textSecondaryColor;
    z-index: 999;
}
