.layout-megamenu {
    &.p-megamenu {
        border: 0 none;
        padding: 0;

        .p-megamenu-panel {
            animation-name: fadeInDown;
            animation-duration: 0.2s;
        }
    }
}
