.layout-megamenu-wrapper { 
    .layout-megamenu-button {
        padding: 8px;
        @include border-radius(4px);
        font-size: 13px;
        border: none;
        cursor: pointer;
        height: 35px;
        color: #FFFFFF;
    
        @include transition(background-color $transitionDuration);
    
        i {
            font-size: 1em;
            vertical-align: middle;
        }
    
        &:hover,
        &:focus {
            color: #ffffff;
        }
    }
    
    .layout-megamenu {
        position: absolute;
        background-color: $contentBgColor;
        top: 56px;
        @include flex();
        @include flex-direction-row();
        @include flex-justify-between();
        list-style-type: none; 
        z-index: 1000;
        box-shadow: 0 2px 8px 0 rgba(25, 26, 28, 0.12);
    
        > li {
            min-width: 200px;
    
            > a {
                font-size: 12px;
                font-weight: 600;
                color: $textColor;
                display: block;
                cursor: default;
                margin: 0;
                padding: .5rem 0 .5rem .5rem;
    
                i {
                    display: none;
                }
            }
    
            > ul {
                list-style-type: none;
                padding: 0;
    
                > li {
    
                    a {
                        margin: 0;
                        padding: .5rem 0 .5rem .5rem;
                        @include flex();
                        @include flex-align-center();
                        @include transition(all $transitionDuration);
                        font-size: 1rem;
                        font-weight: 500;
                        border-radius: 0;
                        cursor: pointer;
                        user-select: none;
                        @include border-radius(4px);
    
                        &.rotated-icon {
                            .layout-menuitem-icon {
                                transform: rotate(90deg);
                            }
                        }
    
                        p {
                            color: $textSecondaryColor;
                            font-size: 14px;
                            font-weight: 500;
                            margin: 0 1rem;
                        }
    
                        i {
                            font-size: 14px;
                            color: $textColor;
    
                            &.layout-submenu-toggler {
                                @include transition(all $transitionDuration);
                                margin-left: auto;
                                font-size: 14px;
                            }
                        }
    
                        &:hover {
                            background-color: $contentAltBgColor;
    
                            p, i {
                                @include transition(color $transitionDuration);
                            }
                        }
                    }
    
                    .layout-megasubmenu-active{
                        .layout-megasubmenu-toggler {
                            transition: all $transitionDuration;
                            transform: rotate(-180deg);
                        }
                    }
    
                    .layout-megamenuitem-active{
                        background-color: $contentAltBgColor;
    
                        p, i {
                            @include transition(color $transitionDuration);
                        }
                    }
                }
            }
    
            .layout-megamenu-item {
                ul {
                    padding: 0;
                    list-style-type: none;
                }
            }
            
            > .layout-megamenu-submenu-header {
                font-size: 12px;
                font-weight: 600;
                color: $textColor;
                display: block;
                cursor: default;
                margin: 0;
                padding: .5rem 0 .5rem .5rem;
            
                i {
                    display: none;
                }
            }
        }
    }
}