.pages-body {
    height: 100vh;
    min-width: 400px;

    .topbar {
        @include shadow(0 2px 5px 0 rgba(0, 0, 0, 0.26));
        background-color: $primaryColor;
        z-index: 100;

        .topbar-left {
            background-color: $primaryColor;

            img {
                height: 2rem;
            }
        }

        .topbar-right {

            h6 {
                margin: 0;
                color: $primaryTextColor;
                font-weight: 500;
            }
        }

        .topbar-button {
            color: white;

            &.p-button.p-button-text.p-button-plain:enabled:hover{
                color: white;
            }
        }
    }

    .pages-panel {
        text-align: center;
        z-index: 200;

        &.card {
            img {
                width: 100%;
            }

            background: rgba(255, 255, 255, 0.9);
            border: 1.5px solid #FFFFFF;
            border-radius: 6px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
        }

        .pages-header {
            margin-top: -3rem;
            color: $primaryTextColor;
            border: 1.5px solid #FFFFFF;
            border-radius: 4px;
            margin-left: auto;
            margin-right: auto;

            h2 {
                margin: 0;
            }
        }

        .pages-detail {
            color: $textSecondaryColor;
        }
    }

    &.login-page {
        background: url("../images/pages/login-bg.jpg");
        background-size: cover;

        .pages-panel {
            .pages-header {
                background: #0097A7;
            }

            .input-panel {
                width: 100%;

                .p-inputtext {
                    width: 100%
                }
            }

            .login-button > * {
                width: 100%;
            }
        }
    }

    &.contact-page {

        .pages-panel {
            text-align: left;

            .card {

                h4 {
                    margin: 0;
                }

                h6 {
                    margin: 0;
                }

                .contact-input {
                    width: 100%;

                    &.contact-message {
                        height: 10rem;
                    }
                }

                .left-panel {
                    width: 30rem;

                    .contact-button > * {
                        width: 100%;
                    }
                }

                .right-panel {
                    width: 30rem;

                    .pi {
                        font-size: 2rem;
                        padding: 0.5rem;

                        &.pi-home {
                            color: #1565C0;
                            background: #BBDEFB;
                            background-size: auto;
                        }

                        &.pi-briefcase {
                            color: #00838f;
                            background: #B2DFDB;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }

    &.error-page {
        background: url("../images/pages/error-bg.jpg");
        background-size: cover;

        .pages-panel {
            .pages-header {
                background: #D81B60;
            }
        }
    }

    &.notfound-page {
        background: url("../images/pages/404-bg.jpg");
        background-size: cover;

        .pages-panel {
            .pages-header {
                background: #455A64;
            }
        }
    }

    &.accessdenied-page {
        background: url("../images/pages/accessDenied-bg.jpg");
        background-size: cover;

        .pages-panel {
            .pages-header {
                background: #FB8C00;
            }
        }
    }
}
