.layout-rightpanel {
    &.p-sidebar {
        top: 56px;
        height: calc(100% - 56px);
        overflow: auto;
        transition: transform $transitionDuration;
    }
}

@media (max-width: $mobileBreakpoint) {
    .layout-wrapper {
        &.layout-topbar-mobile-active {
            .layout-rightpanel {
                top: 168px;
                height: calc(100% - 168px);
            }
        }
    }
}
