.layout-rightpanel {
    &.p-sidebar {
        top: 4rem;
        height: calc(100% - 4rem);
        overflow: auto;
        transition: transform $transitionDuration;
    }
}

@media (max-width: $mobileBreakpoint) {
    .layout-wrapper {
        &.layout-topbar-mobile-active {
            .layout-rightpanel {
                top: 12rem;
                height: calc(100% - 12rem);
            }
        }
    }
}
