.overview-box {
    .overview-status {
        font-weight: 500;
        border-radius: 2px;
        color: $bodyBgColor;
    }
}

.widget-feature-box {
    .image-container {
        width: 100%;
        background-color: $contentAltBgColor;
        border-radius: 4px;
    }
}

.widget-list {
    @include reset-list;

    > li {
        border-bottom: 1px solid $dividerColor;

        &:last-child {
            border-bottom: 0 none;
        }

        .person-item {
            img {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        .widget-list-item-radius,
        .person-tag {
            border-radius: 2px;
            color: $bodyBgColor;
        }
    }
}

.widget-expenses {
    .card-subheader {
        font-size: .9rem;
        color: $textSecondaryColor;
        border-bottom: 1px solid $dividerColor;
    }

    .item {
        padding: .5rem;
        border-bottom: 1px solid $dividerColor;

        &:last-child {
            border: 0 none;
        }

        .type {
            color: #0097A7;
            font-size: 1.5rem;
        }

        .value {
            font-weight: 500;
        }

        .subtext {
            color: $textSecondaryColor;
        }

        .item-button {
            a {
                color: $textSecondaryColor;
            }
        }
    }
}

.widget-traffic {
    .left {
        padding: 1rem;

        .total {
            .title {
                color: $textSecondaryColor
            }

            .value {
                font-size: 2rem;
                font-weight: 500;
            }
        }

        .info {
            .title {
                color: $textSecondaryColor;
            }

            .value {
                font-weight: 500;
            }

            .percent {
                font-size: .9rem;
                font-weight: 500;
                line-height: 1.5;

                i {
                    &.type-green {
                        color: #0097A7;
                    }
                    &.type-orange {
                        color: #EF6C00;
                    }
                    &.type-gray {
                        color: #455A64;
                    }
                }
            }

        }
    }
}

.widget-insights {
    .card-subheader {
        font-size: .9rem;
        color: $textSecondaryColor;
        border-bottom: 1px solid $dividerColor;
    }

    .insight-container {
        i {
            background-color: #0097A7;
            padding: .5rem;
            font-size: 1.5rem;
            color: white;
            border-radius: 50%;

            &.type2 {
                background-color: #455A64;
            }
        }

        .insight-item {
            width: 100%;

            .value {
                margin-left: auto;
                color: #0097A7;
                font-weight: 500;
            }

            .day {
                color: $textSecondaryColor;
            }
        }
    }

    .insight-graph {
        .barBg {
            background-color: #80DEEA;
            height: 10rem;
            width: 1rem;
            border-radius: 20px;
            margin-bottom: .25rem;

            .fill {
                background-color: #0097A7;
                border-radius: 20px;

                &.mon{
                    height: 8rem;
                }

                &.tue{
                    height: 5rem;
                }

                &.wed{
                    height: 4rem;
                }

                &.thu{
                    height: 5.5rem;
                }

                &.fri{
                    height: 3rem;
                }

                &.sat{
                    height: 4.5rem;
                }

                &.sun{
                    height: 6.5rem;
                }
            }
        }
    }
}

.widget-sales {
    .sales-info {
        .title {
            color: $textSecondaryColor;
        }

        .value {
            font-size: 2rem;
        }

        .difference {
            font-size: 1rem;
            font-weight: 500;
            color: #0097A7;
        }
    }

    .sales-graph {
        img {
            width: 100%;
        }
    }
}

.widget-social {

    i {
        color: #1DA1F2;
        font-size: 3rem;

        &.pi-facebook {
            color: #4267B2;
        }

        &.pi-github {
            color: #333333;
        }
    }

    .info {
        text-align: right;

        .value {
            font-size: 2rem;
        }

        .subtext {
            color: $textSecondaryColor;
        }
    }

    .left, .right {
        width: 50%;
        text-align: center;
        padding: 1rem;

        .title {
            font-weight: 500;
        }

        .value {
            color: $textSecondaryColor;
        }
    }

    .left {
        border-right: 1px solid $dividerColor;
    }

    .p-progressbar {
        height: 6px;
        border-radius: 10px;
        background: $contentAltBgColor;
    }

    .p-progressbar-value {
        background: #FFB300;
    }

    .stats {
        border-top: 1px solid $dividerColor;
    }

}

.widget-weeklyoverview {
    .card-subheader {
        font-size: .9rem;
        color: $textSecondaryColor;
        border-bottom: 1px solid $dividerColor;
    }

    h5 {
        margin-bottom: .5rem;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        >li {
            border-bottom: 1px solid $dividerColor;

            .value {
                color: $textSecondaryColor;
            }

            .p-progressbar {
                height: 6px;
                border-radius: 10px;
                background: $contentAltBgColor;
            }

            .p-progressbar-value {
                background: #FFB300;
            }
        }
    }
}

.widget-daily-users {
    position: relative;

    .graph-container {
        position: relative;
        height: 20rem;
        top:-3rem;
        background-color: $contentBgColor;
        border-radius: 4px;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    }

    .info {
        .value {
            font-size: 3rem;
            font-weight: 500;
            color: #00838F;
        }

        .subtext {
            color: $textSecondaryColor;
        }

        i {
            padding: 1rem;
            border-radius: 50%;
            background-color: #B2DFDB;
            color: #00838F;
            font-size: 3rem;
        }

    }
}

.widget-topsearchs {
    .item {
        padding: 1rem;
        border-bottom: 1px solid $dividerColor;

        .value {
            font-weight: 500;

            &.type-green {
                color: $cyan;
            }

            &.type-yellow {
                color: #EF6C00;
            }

            &.type-pink {
                color: $pink;
            }
        }

        &:nth-child(even) {
            background-color: $contentAltBgColor;
        }

        &:last-child {
            border-bottom: 0 none;
        }

    }
}

.widget-blog {
    position: relative;

    .image-container {
        position: relative;
        top: -3rem;
        height: 20rem;
        border-radius: 4px;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

        background-image: url("../../layout/images/dashboard/image-blog.jpg");
        background-size: cover;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .category {
        background-color: #00838F;
        border-radius: 2px;
        padding: .25rem .5rem;
        font-weight: 500;
        color: white;
        line-height: 1.5;
    }

    .content {
        text-align: center;
        line-height: 1.5;
    }
}

.p-timeline.p-timeline-vertical .p-timeline-event-opposite {
    flex: 0;
    padding: 0;
}

.p-timeline-event-separator {
    .marker-icon {
        color: white;
    }

    .custom-marker {
        border-radius: 4px;
    }
}

.widget-activity {
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li {
        padding: 1rem 0;
        border-bottom: 1px solid $dividerColor;

        &:last-child {
            border-bottom: 0 none;
        }

        &:nth-child(1) {
            .p-progressbar-value {
                background: $yellow;
            }
        }

        &:nth-child(2) {
            .p-progressbar-value {
                background: $pink;
            }
        }

        &:nth-child(3) {
            .p-progressbar-value {
                background: $cyan;
            }
        }

        &:nth-child(4) {
            .p-progressbar-value {
                background: $cyan;
            }
        }

        &:nth-child(5) {
            .p-progressbar-value {
                background: $cyan;
            }
        }

        &:nth-child(6) {
            .p-progressbar-value {
                background: $pink;
            }
        }

        .activity-item {
            .activity-title {
                font-weight: 500;
            }

            .activity-subtext {
                font-size: .85rem;
                color: $textSecondaryColor;
            }
            .p-progressbar {
                height: 6px;
                border-radius: 10px;
                background: $contentAltBgColor;
            }
        }
    }
}

.widget-bestsellers {
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li {
        padding: 1rem 0;

        &:last-child {
            border-bottom: 0 none;
        }

        .bestseller-item {
            background-color: $contentAltBgColor;
            border-radius: 4px;
            height: 3.5rem;
            transition: box-shadow .2s;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            a {
                color: $textSecondaryColor;
            }

            .item-button {
                margin-left: auto;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba($contentAltBgColor, .5);
                box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
            }
        }
    }
}

.widget-colorbox {
    padding: 0 !important;
    text-align: center;
    overflow: hidden;
    margin: 0 !important;

    i {
        font-size: 36px;
        margin-top: 10px;
        color: #ffffff;
    }

    .colorbox-name {
        font-size: 20px;
        display: inline-block;
        width: 100%;
        margin: 4px 0 10px 0;
        color: #ffffff;
    }

    .colorbox-count {
        color: #ffffff;
        font-size: 36px;
    }

    .colorbox-count {
        font-weight: bold;
    }

    &.colorbox-1 {
        background-color: #4CAF50;

        div:first-child {
            background-color: #2E7D32;
        }
    }

    &.colorbox-2 {
        background-color: #03A9F4;

        div:first-child {
            background-color: #0277BD;
        }
    }

    &.colorbox-3 {
        background-color: #673AB7;

        div:first-child {
            background-color: #4527A0;
        }
    }

    &.colorbox-4 {
        background-color: #009688;

        div:first-child {
            background-color: #00695C;
        }
    }
}

.widget-map {
    .map-container {
        background-image: url("../../layout/images/dashboard/map.jpg");
        width: 100%;
        min-height: 20rem;
        background-size: cover;
    }
}

.widget-chat {
    ul {
        padding: 1rem;
        margin: 0;
        list-style-type: none;

        li {
            img {
                width: 32px;
            }

            &.from {
                .message{
                    padding: 1rem;
                    color: $bodyBgColor;
                    border-radius: 30px;
                }
            }

            &.own {
                text-align: right;
                .message{
                    padding: 1rem;
                    color: $bodyBgColor;
                    border-radius: 30px;
                }
            }
        }
    }

    .write-message {
        border-radius: 30px;

        .p-inputgroup-addon:first-child {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .p-inputgroup-addon:last-child {
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }
}

.widget-activity-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        border-bottom: 1px solid $dividerColor;
        padding: 16px 8px;

        .count {
            font-size: 20px;
            color: #ffffff;
            background-color: #007be5;
            font-weight: 700;
            padding: .25em .5em;
            display: inline-block;
            border-radius: $borderRadius;
        }
    }
}

.widget-profile {
    img {
        width: 8rem;
        height: 8rem;
    }

    .name {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .location{
        i {
            color: $textSecondaryColor;
        }
        span {
            color: $textSecondaryColor;
        }
    }

    .stats {
        width: 100%;
        .stat {
            .stat-value {
                font-size: 1.5rem;
                font-weight: 500;
                color: #1565C0;
            }
        }
    }
}
