.overview-box {
    height: 120px;
    overflow: hidden;
    margin: 0 !important;

    h6 {
        color: #616161; //todo: move this to variables
    }

    .overview-icon {
        a {
            color: #616161;
        }

        margin-left: auto;
    }

    .overview-amount {
        font-size: 1.75rem;
    }

    .overview-status {
        color: white;
        font-size: .9rem;
        font-weight: 500;
        background-color: #43A047;
        padding: .25rem;
        border-radius: 2px;
    }

    .badge-pink {
        background-color: #E91E63; 
    }
}

.overview-box-filled {
    background-color: #0097A7;
    color: white;

    h6 {
        color: #E0F7FA;
    }

    .overview-icon {
        a {
            color: #E0F7FA;;
        }
    }

    .overview-amount {
        font-size: 1.75rem;
    }

    .overview-status {
        color: #006064;
        font-size: 0.9rem;
        font-weight: 500;
        background-color: white;
        padding: 0.25rem;
        border-radius: 2px;
    }
}

.overview-box-filled-yellow {
    background-color: #FB8C00;

    h6 {
        color: #FFF3E0;
    }

    .overview-icon {
        a {
            color: #FFF3E0;
        }
    }

    .overview-status {
        color: #E65100;
    }
}

.overview-box-filled-pink {
    background-color: #E91E63;

    h6 {
        color: #FCE4EC;
    }

    .overview-icon {
        a {
            color: #FCE4EC;
        }
    }

    .overview-status {
        color: #880E4F;
    }
}

.overview-box-filled-purple {
    background-color: #673AB7;

    h6 {
        color: #EDE7F6;
    }

    .overview-icon {
        a {
            color: #EDE7F6;
        }
    }

    .overview-status {
        color: #311B92;
    }
}

.widget-feature-box {
    .image-container {
        width: 100%;
        background-color: #ECEFF1;
        padding: 1rem;
        border-radius: 4px;
    }

    .text-container {
        p {
            color: #616161;
            text-align: center;
        }

        h5 {
            margin-bottom: .5rem;
        }
    }

    .footer {
        .info-left {
            color: #616161;
        }
    }
}

.widget-insights {
    .card-subheader {
        font-size: .9rem;
        color: #616161;
        border-bottom: 1px solid #E4E4E4;
    }

    .insight-container {
        i {
            background-color: #0097A7;
            padding: .5rem;
            font-size: 1.5rem;
            color: white;
            border-radius: 50%;

            &.type2 {
                background-color: #455A64;
            }
        }

        .insight-item {
            width: 100%;

            .value {
                margin-left: auto;
                color: #0097A7;
                font-weight: 500;
            }

            .day {
                color: #616161;
            }
        }
    }
}

.widget-sales {

    .sales-info {
        border-bottom: 1px solid #E4E4E4;
        border-right: 1px solid #E4E4E4;

        .title {
            color: #616161;
        }

        .value {
            font-size: 2rem;
        }

        .difference {
            font-size: 1rem;
            font-weight: 500;
            color: #0097A7;
        }
    }

    .sales-graph {
        border-right: 1px solid #E4E4E4;

        img {
            width: 100%;
        }
    }
}

.widget-social {

    i {
        color: #1DA1F2;
        font-size: 3rem;

        &.pi-facebook {
            color: #4267B2;
        }

        &.pi-github {
            color: #333333;
        }
    }

    .info {
        text-align: right;
        
        .value {
            font-size: 2rem;
        }

        .subtext {
            color: #616161;
        }
    }

    .left, .right {
        width: 50%;
        text-align: center;
        padding: 1rem;

        .title {
            font-weight: 500;
        }

        .value {
            color: #616161;
        }
    }

    .left {
        border-right: 1px solid #e4e4e4;
    }

    .p-progressbar {
        height: 6px;
        border-radius: 10px;
        background: #ECEFF1;
    }

    .p-progressbar-value {
        background: #FFB300;
    }

    .stats {
        border-top: 1px solid #e4e4e4;
    }

}

.widget-weeklyoverview {
    .card-subheader {
        font-size: .9rem;
        color: #616161;
        border-bottom: 1px solid #E4E4E4;
    }

    h5 {
        margin-bottom: .5rem;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        >li {
            border-bottom: 1px solid #E4E4E4;

            .value {
                color: #616161;
            }

            .p-progressbar {
                height: 6px;
                border-radius: 10px;
                background: #ECEFF1;
            }

            .p-progressbar-value {
                background: #FFB300;
            }
        }
    }
}

.widget-daily-users {
    position: relative;

    .graph-container {
        position: relative;
        height: 20rem;
        top:-3rem;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    }
    
    .info {
        .value {
            font-size: 3rem;
            font-weight: 500;
            color: #00838F;
        }

        .subtext {
            color: #616161;
        }

        i {
            padding: 1rem;
            border-radius: 50%;
            background-color: #B2DFDB;
            color: #00838F;
            font-size: 3rem;
        }

    }
}

.widget-blog {
    position: relative;

    .image-container {
        position: relative;
        top: -3rem;
        height: 20rem;
        border-radius: 4px;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

        img {
            width: 100%;
        }
    }

    .title {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .category {
        background-color: #00838F;
        border-radius: 2px;
        padding: .25rem .5rem;
        font-weight: 500;
        color: white;
        line-height: 1.5;
    }

    .content {
        text-align: center;
        line-height: 1.5;
    }
}

.p-timeline.p-timeline-vertical .p-timeline-event-opposite {
    flex: 0;
    padding: 0;
}

.p-timeline-event-separator {
    .marker-icon {
        color: white;
    }

    .custom-marker {
        border-radius: 4px;
    }
}

.widget-documents {
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li {
        padding: 1rem 0;
        border-bottom: 1px solid #E4E4E4;

        .icon-container {
            width: 36px;
            height: 36px;
            background-color: #BBDEFB;
            padding: 1rem;
            color: #1565C0;
            border-radius: 4px;
            
            i {
                font-size: 1.5rem;
            }

            &.type-yellow {
                background-color: #FFECB3;
                color: #BF6B00;
            }

            &.type-green {
                background-color: #B2DFDB;
                color: #00838F;
            }

            &.type-gray {
                background-color: #CFD8DC;
                color: #455A64;
            }
        }
    
        .item-subtext {
            color: #616161;
        }

        .item-actions {
            i {
                padding: .5rem;
                border: 1px solid #ECEFF1;
                border-radius: 4px;
                color: #424242;
                font-size: 1.25rem;
            }
            
        }
    }

    .footer {
        span {
            color: #616161;
        }
    }
}

.widget-contacts-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li {
        padding: 1rem 0;
        border-bottom: 1px solid #E4E4E4;

        &:last-child {
            border-bottom: 0 none;
        }

        .person-item {
            img {
                width: 2.5rem;
                height: 2.5rem;
            }

            .person-subtext {
                font-size: .85rem;
                font-weight: 500;
                color: #616161;
            }
        }

        .person-badges {
            .badge {
                padding: .25rem;
                border-radius: 2px;
        
                &.accounting {
                    background-color: #BBDEFB;
                    color: #0D47A1;
                }
        
                &.sales {
                    background-color: #FFECB3;
                    color: #BF6B00;
                }

                &.finance {
                    background-color: #B2DFDB;
                    color: #004D40;
                }

                &.management {
                    background-color: #FCE4EC;
                    color: #880E4F;
                }
            }
        }
    }
}

.widget-activity {
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li {
        padding: 1rem 0;
        border-bottom: 1px solid #E4E4E4;

        &:last-child {
            border-bottom: 0 none;
        }

        &:nth-child(1) {
            .p-progressbar-value {
                background: #FFC107;
            }
        }

        &:nth-child(2) {
            .p-progressbar-value {
                background: #E91E63;
            }
        }

        &:nth-child(3) {
            .p-progressbar-value {
                background: #4CAF50;
            }
        }

        &:nth-child(4) {
            .p-progressbar-value {
                background: #4CAF50;
            }
        }

        &:nth-child(5) {
            .p-progressbar-value {
                background: #4CAF50;
            }
        }

        &:nth-child(6) {
            .p-progressbar-value {
                background: #E91E63;
            }
        }

        .activity-item {
            .activity-title {
                font-weight: 500;
            }
    
            .activity-subtext {
                font-size: .85rem;
                color: #616161;
            }
            .p-progressbar {
                height: 6px;
                border-radius: 10px;
                background: #ECEFF1;
            }
        }
    }
}

.widget-bestsellers {
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li {
        padding: 1rem 0;

        &:last-child {
            border-bottom: 0 none;
        }

        .bestseller-item {
            background-color: #ECEFF1;
            border-radius: 4px;
            height: 3.5rem;
            transition: box-shadow .2s;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            a {
                color: #212121;
            }

            .item-button {
                margin-left: auto;
            }

            &:hover {
                cursor: pointer;
                background-color: white;
                box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
            }
        }
    }
}


.widget-overview {
    padding: 0 !important;
    min-height: 140px;
    position: relative;
    margin-bottom: 0 !important;

    .overview-content {
        padding: 16px;

        .overview-title {
            font-size: 18px;
        }

        .overview-badge {
            float: right;
            color: $textSecondaryColor;
        }

        .overview-detail {
            display: block;
            font-size: 24px;
            margin-top: 5px;
        }
    }

    .overview-footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        img {
            display: block;
        }
    }
}

.widget-colorbox {
    padding: 0 !important;
    text-align: center;
    overflow: hidden;
    margin: 0 !important;

    i {
        font-size: 36px;
        margin-top: 10px;
        color: #ffffff;
    }

    .colorbox-name {
        font-size: 20px;
        display: inline-block;
        width: 100%;
        margin: 4px 0 10px 0;
        color: #ffffff;
    }

    .colorbox-count {
        color: #ffffff;
        font-size: 36px;
    }

    .colorbox-count {
        font-weight: bold;
    }

    &.colorbox-1 {
        background-color: #4CAF50;

        div:first-child {
            background-color: #2E7D32;
        }
    }

    &.colorbox-2 {
        background-color: #03A9F4;

        div:first-child {
            background-color: #0277BD;
        }
    }

    &.colorbox-3 {
        background-color: #673AB7;

        div:first-child {
            background-color: #4527A0;
        }
    }

    &.colorbox-4 {
        background-color: #009688;

        div:first-child {
            background-color: #00695C;
        }
    }
}

.widget-map {
    .map-container {
        background-image: url("../../layout/images/dashboard/map.jpg");
        width: 100%;
        min-height: 20rem;
        background-size: cover;
    }
}

.widget-user-card {
    padding: 0;
    text-align: center;

    .user-card-header {
        position: relative;
        height: 200px;
        background-image: url("../../demo/images/widgets/user-card.jpg");
        background-size: cover;
    }

    .user-card-avatar {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 8rem;
        height: 8rem;
        margin-left: -4rem;
        margin-bottom: -4rem;
        border-radius: 50%;
    }

    .user-card-body {
        padding: 6em 2rem 2rem 2rem;
    }

    .user-card-title {
        font-size: 1.5rem;
        font-weight: normal;
    }

    .user-card-subtext {
        color: $textSecondaryColor;
    }

    .user-card-stats {
        margin-top: 2rem;

        i {
            font-size: 2rem;
            color: $textSecondaryColor;
        }

        span {
            font-size: 1.25rem;
            font-weight: 600;
            margin-top: .5rem;
        }
    }
}

.widget-contacts {
    overflow: hidden;

    > .p-panel {
        min-height: 340px;
    }

    .p-panel-content{
        padding: 5px 0 10px 0 !important;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid #d8d8d8;

            a {
                padding: 9px;
                width: 100%;
                box-sizing: border-box;
                text-decoration: none;
                position: relative;
                display: block;
                @include border-radius(2px);
                @include transition(background-color .2s);

                .name {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-size: 18px;
                    color: $textColor;
                }

                .email {
                    position: absolute;
                    right: 10px;
                    top: 30px;
                    font-size: 14px;
                    color: $textSecondaryColor;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #e8e8e8;;
                }
            }

            &:last-child {
                border: 0;
            }
        }
    }
}

.widget-pricing-card {
    text-align: center;

    .card {
        height: 100%;
        padding: 0;
    }

    .pricing-header {
        padding: 20px 0;
        background-color: #3f51b5;
        color: #ffffff;

        span {
            display: block;
            line-height: 48px;

            &.name {
                font-weight: 300;
                font-size: 24px;
            }

            &.fee {
                font-size: 48px;
                font-weight: 700;
            }

            &.type {
                font-weight: 300;
                font-size: 16px;
            }
        }
    }

    i {
        color: #3f51b5;
    }

    .pricing-content {
        ul {
            margin: 0;
            padding: 20px 20px;
            list-style-type: none;

            li {
                font-size: 18px;
                text-align: left;
                padding: 10px 14px;

                i {
                    margin-right: 20px;
                    vertical-align: middle;
                }

                span {
                    vertical-align: middle;
                }
            }
        }
    }
}

.widget-chat {
    background-image: url("../../layout/images/dashboard/chat-bg.svg");
    background-size: cover;
    ul {
        padding: 1rem;
        margin: 0;
        list-style-type: none;

        li {
            img {
                width: 32px;
            }
    
            &.from {
                .message{
                    padding: 1rem;
                    background-color: #00ACC1;
                    color: white;
                    border-radius: 30px;
                }
            }
    
            &.own {
                text-align: right;
                .message{
                    padding: 1rem;
                    background-color: #D81B60;
                    color: white;
                    border-radius: 30px;
                }
            }
        }
    }

    .write-message {
        border-radius: 30px;

        .p-inputgroup-addon:first-child {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .p-inputgroup-addon:last-child {
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }
}

.widget-activity-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        border-bottom: 1px solid $dividerColor;
        padding: 16px 8px;

        .count {
            font-size: 20px;
            color: #ffffff;
            background-color: #007be5;
            font-weight: 700;
            padding: .25em .5em;
            display: inline-block;
            border-radius: $borderRadius;
        }
    }
}

.widget-profile {
    img {
        width: 8rem;
        height: 8rem;;
    }
    
    .name {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .location{
        i {
            color: #616161;
        }
        span {
            color: #616161;
        }
    }

    .stats {
        width: 100%;
        .stat {
            .stat-value {
                font-size: 1.5rem;
                font-weight: 500;
                color: #1565C0;
            }
        }
    }
}