@media (min-width: $mobileBreakpoint + 1) {
    .layout-overlay {
        .menu-wrapper {
            transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
            transform: translate3d(-241px, 0px, 0px);
        }

        &.layout-overlay-active {
            .menu-wrapper {
                transform: translate3d(0px, 0px, 0px);
            }
        }

        .layout-topbar {
            .layout-topbar-wrapper {
                .layout-topbar-right {
                    .menu-button {
                        display: flex;
                    }
                }
            }
        }
    }

    .layout-static {
        .menu-wrapper {
            transform: translate3d(-241px, 0px, 0px);
        }

        .layout-main {
            transition: margin-left $transitionDuration;
        }

        &.layout-static-active {
            .menu-wrapper {
                transform: translate3d(0px, 0px, 0px);
            }

            .layout-main {
                margin-left: 240px;
            }

            .layout-topbar .layout-topbar-left .layout-menu-button > i {
                transform: rotate(180deg);
                transition: transform $transitionDuration;
            }
        }

        .layout-topbar .layout-topbar-left .layout-menu-button {
            display: flex;

            > i {
                transform: rotate(0deg);
                transition: transform $transitionDuration;
            }
        }
    }
}
