<div class="p-grid dashboard">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box overview-box-filled p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-shopping-cart"></i>
                <h6 class="p-m-0 p-pl-2">Orders</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">640</span>
                    <span class="overview-status">1420 Completed</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-orders-white.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box overview-box-filled overview-box-filled-yellow p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-dollar"></i>
                <h6 class="p-m-0 p-pl-2">Revenue</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">$57K</span>
                    <span class="overview-status">$9,640 Income</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-revenue-white.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box overview-box-filled overview-box-filled-pink p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-users"></i>
                <h6 class="p-m-0 p-pl-2">Customers</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">8572</span>
                    <span class="overview-status">25402 Registered</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-customers-white.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box overview-box-filled overview-box-filled-purple p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-comments"></i>
                <h6 class="p-m-0 p-pl-2">Comments</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">805</span>
                    <span class="overview-status">85 Responded</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-comments-white.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-feature-box">
            <div class="image-container p-d-flex p-jc-center">
                <img src="/assets/layout/images/dashboard/feature-faq.svg" alt="">
            </div>
            <div class="text-container p-d-flex p-flex-column p-ai-center p-mt-3">
                <h5>Frequently Asked Questions</h5>
                <p>We answer all your burning questions about Ultima, and some probably never even thought to ask.</p>
            </div>
            <div class="footer p-d-flex p-jc-between p-ai-center p-mt-3">
                <span class="info-left">46 Questions</span>
                <p-button label="VIEW FAQ"></p-button>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-feature-box">
            <div class="image-container p-d-flex p-jc-center">
                <img src="/assets/layout/images/dashboard/feature-onboarding.svg" alt="">
            </div>
            <div class="text-container p-d-flex p-flex-column p-ai-center p-mt-3">
                <h5>Onboarding</h5>
                <p>Follow the steps to start your Ultima adventure within a few days.</p>
            </div>
            <div class="footer p-d-flex p-jc-between p-ai-center p-mt-3">
                <span class="info-left">3 Steps Left</span>
                <p-button label="VIEW STEPS"></p-button>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-feature-box">
            <div class="image-container p-d-flex p-jc-center">
                <img src="/assets/layout/images/dashboard/feature-security.svg" alt="">
            </div>
            <div class="text-container p-d-flex p-flex-column p-ai-center p-mt-3">
                <h5>Security Center</h5>
                <p>Security surveillance management and threat protection for your Ultima cloud workloads.</p>
            </div>
            <div class="footer p-d-flex p-jc-between p-ai-center p-mt-3">
                <span class="info-left">824 End-Points</span>
                <p-button label="VIEW CENTER"></p-button>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card">
            <div class="card-header">
                <h5>Documents</h5>
            </div>

            <ul class="widget-documents">
                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="documents-item p-d-flex p-ai-center">
                        <div class="icon-container p-d-flex p-ai-center p-jc-center">
                            <i class="pi pi-star"></i>
                        </div>
                        <div class="item-info p-ml-2">
                            <div>Design Team | Sprint 021</div>
                            <div class="item-subtext">21MB</div>
                        </div>
                    </div>
                    <div class="item-actions">
                        <button pButton pRipple type="button" icon="pi pi-copy" class="p-button p-button-outlined p-mr-1"></button>
                        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button p-button-outlined"></button>
                    </div>
                </li>

                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="documents-item p-d-flex p-ai-center">
                        <div class="icon-container p-d-flex p-ai-center p-jc-center type-yellow">
                            <i class="pi pi-file-excel"></i>
                        </div>
                        <div class="item-info p-ml-2">
                            <div>Elite Report 2020-Q4</div>
                            <div class="item-subtext">56.00MB</div>
                        </div>
                    </div>
                    <div class="item-actions">
                        <button pButton pRipple type="button" icon="pi pi-copy" class="p-button p-button-outlined p-mr-1"></button>
                        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button p-button-outlined"></button>
                    </div>
                </li>

                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="documents-item p-d-flex p-ai-center">
                        <div class="icon-container p-d-flex p-ai-center p-jc-center type-green">
                            <i class="pi pi-image"></i>
                        </div>
                        <div class="item-info p-ml-2">
                            <div>Ultima Marketing Assets</div>
                            <div class="item-subtext">1.29GB</div>
                        </div>
                    </div>
                    <div class="item-actions">
                        <button pButton pRipple type="button" icon="pi pi-copy" class="p-button p-button-outlined p-mr-1"></button>
                        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button p-button-outlined"></button>
                    </div>
                </li>

                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="documents-item p-d-flex p-ai-center">
                        <div class="icon-container p-d-flex p-ai-center p-jc-center type-gray">
                            <i class="pi pi-file"></i>
                        </div>
                        <div class="item-info p-ml-2">
                            <div>Ultima Remastered Docs</div>
                            <div class="item-subtext">26.54KB</div>
                        </div>
                    </div>
                    <div class="item-actions">
                        <button pButton pRipple type="button" icon="pi pi-copy" class="p-button p-button-outlined p-mr-1"></button>
                        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button p-button-outlined"></button>
                    </div>
                </li>
            </ul>
            
            <div class="footer p-mt-4">
                <button pButton pRipple type="button" label="Download All" icon="pi pi-cloud-download" class="p-button-text p-button-plain"></button>            
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-8">
        <div class="card">
            <div class="card-header">
                <h5>Alternative Graph</h5>
            </div>
            <p-chart type="radar" [data]="radarChartData"></p-chart>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-map">
            <div class="map-container">
                <div class="p-inputgroup p-p-3">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input type="text" pInputText placeholder="Search for delivery">         
                </div>
            </div>
            <div class="footer p-mt-3 p-d-flex p-jc-between p-ai-center">
                <div class="actions">
                    <button pButton pRipple type="button" icon="pi pi-share-alt" class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple type="button" icon="pi pi-compass" class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text"></button>
                </div>
                <div class="link">
                    <button pButton pRipple type="button" label="View on Google Maps" class="p-button-text p-button-plain"></button>            
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="p-col-12 p-lg-4">
        <div class="card widget-weeklyoverview">
            <div class=card-header>
                <h5>Overview</h5>
            </div>
            <div class="card-subheader p-mb-2 p-pb-3">
                Last 7 Months
            </div>

            <ul>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W1</span>
                        <span class="value">41/100</span>
                    </div>
                    <p-progressBar [value]="41" [showValue]=false></p-progressBar>
                </li>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W2</span>
                        <span class="value">23/100</span>
                    </div>
                    <p-progressBar [value]="23" [showValue]=false></p-progressBar>
                </li>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W3</span>
                        <span class="value">81/100</span>
                    </div>
                    <p-progressBar [value]="81" [showValue]=false></p-progressBar>
                </li>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W4</span>
                        <span class="value">33/100</span>
                    </div>
                    <p-progressBar [value]="33" [showValue]=false></p-progressBar>
                </li>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W5</span>
                        <span class="value">37/100</span>
                    </div>
                    <p-progressBar [value]="37" [showValue]=false></p-progressBar>
                </li>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W6</span>
                        <span class="value">12/100</span>
                    </div>
                    <p-progressBar [value]="12" [showValue]=false></p-progressBar>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-profile p-d-flex p-flex-column p-ai-center">
            <img class="p-mt-3" src="/assets/layout/images/dashboard/asset-profile.png" alt="">
            <span class="name p-mt-5">John Doe</span>

            <div class="location p-d-flex p-ai-center p-mt-1">
                <i class="pi pi-map-marker p-mr-1"></i>
                <span>London UK</span>
            </div>
            
            <div class="stats p-d-flex p-jc-between p-px-3 p-mt-6 p-mb-3">
                <div class="stat p-d-flex p-flex-column p-ai-center">
                    <span>FRIENDS</span>
                    <span class="stat-value p-mt-2">660</span>
                </div>
                <div class="stat p-d-flex p-flex-column p-ai-center">
                    <span>COMMENTS</span>
                    <span class="stat-value p-mt-2">98K</span>
                </div>
                <div class="stat p-d-flex p-flex-column p-ai-center">
                    <span>PROJECTS</span>
                    <span class="stat-value p-mt-2">51</span>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6">
        <div class="card widget-daily-users p-mt-5">
            <div class="graph-container p-p-3">
            <p-chart type="line" [data]="chartData" responsive="true" height="100%"></p-chart>
            </div>
            <div class="info p-d-flex p-flex-column p-jc-center p-ai-center">
                <span class="value p-mb-1">5.758</span>
                <span class="subtext p-mb-3">Daily Users</span>
                <i class="pi pi-users"></i>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6">
        <div class="card widget-blog p-mt-5">
            <div class="image-container">
            </div>
            <div class="info p-d-flex p-flex-column p-jc-center p-ai-center">
                <span class="title p-mb-1">A New Headquarters</span>
                <span class="category p-mb-3">Company News</span>
                <span class="content"> The decision has been made. To mark the beginning of a new chapter in its history, Ultima will move from the Quartier in Tokyo to a new location in Hong Kong. The new location – near the airport – reflects the requirements of an internationally active brand. New Office concepts provide modern way of close collaboration.</span>
            </div>

            <div class="footer p-d-flex p-jc-between p-ai-center p-mt-5">
                <div class="left">
                    <button pButton pRipple type="button" label="Learn More" icon="pi pi-plus-circle" class="p-button-text p-button-plain"></button>
                </div>
                <div class="right">
                    <button pButton pRipple type="button" icon="pi pi-share-alt" class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text"></button>                
                </div>
            </div>
        </div>
    </div>
</div>
