<div class="p-grid dashboard">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box p-d-flex p-flex-column">
            <div class="p-d-flex p-ai-center muted-text">
                <i class="pi pi-shopping-cart"></i>
                <h6 class="p-m-0 p-pl-2">Orders</h6>
                <span class="p-ml-auto"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-4">
                <div class="p-d-flex p-flex-column">
                    <span class="p-mb-1 fs-xlarge">640</span>
                    <span class="overview-status p-p-1 teal-bgcolor white-color fs-small">1420 Completed</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-orders.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box p-d-flex p-flex-column">
            <div class="p-d-flex p-ai-center muted-text">
                <i class="pi pi-dollar"></i>
                <h6 class="p-m-0 p-pl-2">Revenue</h6>
                <span class="p-ml-auto"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-4">
                <div class="p-d-flex p-flex-column">
                    <span class="p-mb-1 fs-xlarge">$57K</span>
                    <span class="overview-status p-p-1 teal-bgcolor white-color fs-small">$9,640 Income</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-revenue.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box p-d-flex p-flex-column">
            <div class="p-d-flex p-ai-center muted-text">
                <i class="pi pi-users"></i>
                <h6 class="p-m-0 p-pl-2">Customers</h6>
                <span class="p-ml-auto"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-4">
                <div class="p-d-flex p-flex-column">
                    <span class="p-mb-1 fs-xlarge">8572</span>
                    <span class="overview-status p-p-1 pink-bgcolor white-color fs-small">25402 Registered</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-customers.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box p-d-flex p-flex-column">
            <div class="p-d-flex p-ai-center muted-text">
                <i class="pi pi-comments"></i>
                <h6 class="p-m-0 p-pl-2">Comments</h6>
                <span class="p-ml-auto"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-4">
                <div class="p-d-flex p-flex-column">
                    <span class="p-mb-1 fs-xlarge">805</span>
                    <span class="overview-status p-p-1 teal-bgcolor white-color fs-small">85 Responded</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-comments.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>Contact</h5>
                <span class="card-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>

            <ul class="widget-list">
                <li class="p-d-flex p-ai-center p-py-3">
                    <div class="person-item p-d-flex p-ai-center">
                        <img src="/assets/layout/images/avatar.png">
                        <div class="p-ml-2">
                            <div>Amy Elsner</div>
                            <small class="muted-text">elsner@ultima.org</small>
                        </div>
                    </div>
                    <span class="person-tag indigo-bgcolor white-color p-p-1 p-ml-auto fs-small">Accounting</span>
                    <span class="person-tag orange-bgcolor white-color p-p-1 p-ml-2 fs-small">Sales</span>
                </li>

                <li class="p-d-flex p-ai-center p-py-3">
                    <div class="person-item p-d-flex p-ai-center">
                        <img src="/assets/layout/images/avatar1.png">
                        <div class="p-ml-2">
                            <div>Bernardo Dominic</div>
                            <small class="muted-text">dominic@ultima.org</small>
                        </div>
                    </div>
                    <span class="person-tag teal-bgcolor white-color p-p-1 p-ml-auto fs-small">Finance</span>
                    <span class="person-tag orange-bgcolor white-color p-p-1 p-ml-2 fs-small">Sales</span>
                </li>

                <li class="p-d-flex p-ai-center p-py-3">
                    <div class="person-item p-d-flex p-ai-center">
                        <img src="/assets/layout/images/avatar2.png">
                        <div class="p-ml-2">
                            <div>Anna Fali</div>
                            <small class="muted-text">fali@ultima.org</small>
                        </div>
                    </div>
                    <span class="person-tag pink-bgcolor white-color p-p-1 p-ml-auto fs-small">Management</span>
                </li>

                <li class="p-d-flex p-ai-center p-py-3">
                    <div class="person-item p-d-flex p-ai-center">
                        <img src="/assets/layout/images/avatar3.png">
                        <div class="p-ml-2">
                            <div>Amelie Stone</div>
                            <small class="muted-text">stone@ultima.org</small>
                        </div>
                    </div>
                    <span class="person-tag pink-bgcolor white-color p-p-1 p-ml-auto fs-small">Management</span>
                    <span class="person-tag teal-bgcolor white-color p-p-1 p-ml-2 fs-small">Finance</span>
                </li>

                <li class="p-d-flex p-ai-center p-py-3">
                    <div class="person-item p-d-flex p-ai-center">
                        <img src="/assets/layout/images/avatar4.png">
                        <div class="p-ml-2">
                            <div>Stephen Shaw</div>
                            <small class="muted-text">shaw@ultima.org</small>
                        </div>
                    </div>
                    <span class="person-tag teal-bgcolor white-color p-p-1 p-ml-auto fs-small">Finance</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>Order Graph</h5>
                <span class="card-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <p-chart type="line" [data]="mainData"></p-chart>
        </div>
    </div>

    <div class="p-col-12 p-lg-6">
        <div class="card widget-timeline">
            <div class="card-header">
                <h5>Timeline</h5>
                <a href="#"><i class="pi pi-ellipsis-h"></i></a>
            </div>

            <p-timeline [value]="timelineEvents" align="left" styleClass="customized-timeline">
                <ng-template pTemplate="marker" let-event>
                    <span class="custom-marker p-shadow-2 p-p-2" [style.backgroundColor]="event.color">
                        <i class="marker-icon" [ngClass]="event.icon"></i>
                    </span>
                </ng-template>
                <ng-template pTemplate="content" let-event>
                    <p-card styleClass="p-mb-3" [header]="event.status" [subheader]="event.date">
                        <img *ngIf="event.image" [src]="'assets/showcase/images/demo/product/' + event.image" [alt]="event.name" width="200" class="p-shadow-2" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                            quisquam!</p>
                    </p-card>
                </ng-template>
            </p-timeline>
        </div>
    </div>

    <div class="p-col-12 p-md-12 p-lg-6">
        <div class="card">
            <p-table [value]="products" [paginator]="true" [rows]="8">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th pSortableColumn="name">Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Category
                            <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">Price
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="view">View
                            <p-sortIcon field="view"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="50px" />
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.price | currency:'USD'}}</td>
                        <td>
                            <button pRipple pButton type="button" icon="pi pi-search" class="p-button-rounded p-button-text p-mr-2 p-mb-1"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


    <div class="p-col-12 p-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>Chat</h5>
                <span class="card-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="widget-chat">
                <ul>
                    <li class="from p-d-flex p-ai-start p-mb-3">
                        <img class="p-mr-2" src="/assets/layout/images/avatar.png" alt="">
                        <div class="messages p-d-flex p-flex-column p-ai-start">
                            <span class="message p-mb-1">Hey M. hope you are well.</span>
                            <span class="message">Our idea is accepted by the board. Now it’s time to execute it.</span>
                        </div>
                    </li>
                    <li class="own p-d-flex p-ai-start p-jc-end p-mb-3">
                        <div class="messages p-d-flex p-flex-column p-ai-end">
                            <div class="message">We did it! 🤠</div>
                        </div>
                    </li>
                    <li class="from p-d-flex p-ai-start p-mb-3">
                        <img class="p-mr-2" src="/assets/layout/images/avatar.png" alt="">
                        <div class="messages p-d-flex p-flex-column p-ai-start">
                            <span class="message">That's really good!</span>
                        </div>
                    </li>
                    <li class="own p-d-flex p-ai-start p-jc-end p-mb-3">
                        <div class="messages p-d-flex p-flex-column p-ai-end">
                            <div class="message">But it’s important to ship MVP ASAP</div>
                        </div>
                    </li>
                    <li class="from p-d-flex p-ai-start p-mb-3">
                        <img class="p-mr-2" src="/assets/layout/images/avatar.png" alt="">
                        <div class="messages p-d-flex p-flex-column p-ai-start">
                            <span class="message">I’ll be looking at the process then, just to be sure 🤓 </span>
                        </div>
                    </li>
                    <li class="own p-d-flex p-ai-start p-jc-end p-mb-3">
                        <div class="messages p-d-flex p-flex-column p-ai-end">
                            <div class="message">That’s awesome. Thanks!</div>
                        </div>
                    </li>
                </ul>
                <div class="p-inputgroup write-message">
                    <span class="p-inputgroup-addon"><i class="pi pi-plus-circle" style="line-height: 1.25;"></i></span>
                    <input type="text" pInputText placeholder="Write your message">
                    <span class="p-inputgroup-addon"><i class="pi pi-video" style="line-height: 1.25;"></i></span>
                    <span class="p-inputgroup-addon"><i class="pi pi-clock" style="line-height: 1.25;"></i></span>
                </div>
            </div>

        </div>
    </div>

    <div class="p-col-12 p-lg-3">
        <div class="card">
            <div class="card-header">
                <h5>Activity</h5>
                <span class="card-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>

            <ul class="widget-activity">
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Income</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="50" [showValue]=false></p-progressBar>
                    </div>
                </li>
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Tax</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="15" [showValue]=false></p-progressBar>
                    </div>
                </li>
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Invoices</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="78" [showValue]=false></p-progressBar>
                    </div>
                </li>
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Expanses</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="66" [showValue]=false></p-progressBar>
                    </div>
                </li>
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Bonus</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="85" [showValue]=false></p-progressBar>
                    </div>
                </li>
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Revenue</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="54" [showValue]=false></p-progressBar>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <div class="p-col-12 p-lg-3">
        <div class="card">
            <div class="card-header">
                <h5>Best Sellers</h5>
                <span class="card-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <ul class="widget-bestsellers">
                <li>
                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/blue-band.jpg" alt="">
                        <span>Blue Band</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/bracelet.jpg" alt="">
                        <span>Bracelet</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/black-watch.jpg" alt="">
                        <span>Black Watch</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/bamboo-watch.jpg" alt="">
                        <span>Bamboo Watch</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/blue-t-shirt.jpg" alt="">
                        <span>Blue T-Shirt</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/game-controller.jpg" alt="">
                        <span>Game Controller</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/gold-phone-case.jpg" alt="">
                        <span>Phone Case</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/purple-t-shirt.jpg" alt="">
                        <span>Purple T-Shirt</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
