<div class="p-grid dashboard">
    <div class="p-col-12 p-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Monthly Comparison</h5>
                <span class="card-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            
            <p-chart type="bar" [data]="chartMonthlyData" responsive="true"></p-chart>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-insights">
            <div class=card-header>
                <h5>Insights</h5>
                <span class="card-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="card-subheader p-mb-2 p-pb-3">
                November 22 - November 29
            </div>
            <div class="p-d-flex p-flex-column p-ai-center insight-container">
                <img class="p-mt-3" src="/assets/layout/images/dashboard/graph-weekly.svg" alt="">
                <div class="insight-item p-d-flex p-flex-row p-mt-4 p-px-3">
                    <i class="pi pi-thumbs-up"></i>
                    <div class="p-d-flex p-flex-column p-ml-3">
                        <span class="title">Best Day of the Week</span>
                        <span class="day">Monday</span>
                    </div>
                    <span class="value">660</span>
                </div>
                <div class="insight-item p-d-flex p-flex-row p-my-4 p-px-3">
                    <i class="pi pi-thumbs-down type2"></i>
                    <div class="p-d-flex p-flex-column p-ml-3">
                        <span class="title">Worst Day of the Week</span>
                        <span class="day">Wednesday</span>
                    </div>
                    <span class="value">34</span>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-social">
            <div class="p-d-flex p-jc-between p-ai-center p-p-3">
                <div class="social-icon">
                    <i class="pi pi-twitter"></i>
                </div>
                <div class="info p-d-flex p-flex-column">
                    <span class="value">44.995</span>
                    <span class="subtext p-mt-2">Retweets</span>
                </div>
            </div>

            <div class="stats p-d-flex p-jc-between p-mt-3">
                <div class="left p-d-flex p-flex-column ">
                    <span class="title">Target</span>
                    <span class="value p-mb-2">10.000</span>
                    <p-progressBar [value]="50" [showValue]=false></p-progressBar>
                </div>
                <div class="right p-d-flex p-flex-column">
                    <span class="title">All Time Record</span>
                    <span class="value p-mb-2">50.702</span>
                    <p-progressBar [value]="24" [showValue]=false></p-progressBar>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-social">
            <div class="p-d-flex p-jc-between p-ai-center p-p-3">
                <div class="social-icon">
                    <i class="pi pi-facebook"></i>
                </div>
                <div class="info p-d-flex p-flex-column">
                    <span class="value">44.995</span>
                    <span class="subtext p-mt-2">Facebook Interactions</span>
                </div>
            </div>

            <div class="stats p-d-flex p-jc-between p-mt-3">
                <div class="left p-d-flex p-flex-column ">
                    <span class="title">Target</span>
                    <span class="value p-mb-2">10.000</span>
                    <p-progressBar [value]="23" [showValue]=false></p-progressBar>
                </div>
                <div class="right p-d-flex p-flex-column">
                    <span class="title">All Time Record</span>
                    <span class="value p-mb-2">99.028</span>
                    <p-progressBar [value]="38" [showValue]=false></p-progressBar>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-social">
            <div class="p-d-flex p-jc-between p-ai-center p-p-3">
                <div class="social-icon">
                    <i class="pi pi-github"></i>
                </div>
                <div class="info p-d-flex p-flex-column">
                    <span class="value">81.002</span>
                    <span class="subtext p-mt-2">Star</span>
                </div>
            </div>

            <div class="stats p-d-flex p-jc-between p-mt-3">
                <div class="left p-d-flex p-flex-column ">
                    <span class="title">Target</span>
                    <span class="value p-mb-2">10.000</span>
                    <p-progressBar [value]="62" [showValue]=false></p-progressBar>
                </div>
                <div class="right p-d-flex p-flex-column">
                    <span class="title">All Time Record</span>
                    <span class="value p-mb-2">162.550</span>
                    <p-progressBar [value]="14" [showValue]=false></p-progressBar>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-12">
        <div class="card p-grid p-nogutter widget-sales">
            <div class="p-lg-3 p-md-6 p-sm-12 p-p-0">
                <div class="sales-info p-d-flex p-flex-column p-p-4">
                    <span class="title">Store A Sales</span>
                    <span class="value p-mt-2">
                        $44.995
                        <span class="difference p-ml-1">+1.200</span>
                    </span>
                </div>
                <div class="sales-graph p-p-4">
                    <img src="/assets/layout/images/dashboard/sales-graph-1.svg" alt="">
                </div>
            </div>
            <div class="p-lg-3 p-md-6 p-sm-12 p-p-0">
                <div class="sales-info p-d-flex p-flex-column p-p-4">
                    <span class="title">Store B Sales</span>
                    <span class="value p-mt-2">
                        $62.024
                        <span class="difference p-ml-1">+14.207</span>
                    </span>
                </div>
                <div class="sales-graph p-p-4">
                    <img src="/assets/layout/images/dashboard/sales-graph-1.svg" alt="">
                </div>
            </div>
            <div class="p-lg-3 p-md-6 p-sm-12 p-p-0">
                <div class="sales-info p-d-flex p-flex-column p-p-4">
                    <span class="title">Store C Sales</span>
                    <span class="value p-mt-2">
                        $7.801
                        <span class="difference p-ml-1">+928</span>
                    </span>
                </div>
                <div class="sales-graph p-p-4">
                    <img src="/assets/layout/images/dashboard/sales-graph-1.svg" alt="">
                </div>
            </div>
            <div class="p-lg-3 p-md-6 p-sm-12 p-p-0">
                <div class="sales-info p-d-flex p-flex-column p-p-4">
                    <span class="title">Store D Sales</span>
                    <span class="value p-mt-2">
                        $149
                        <span class="difference p-ml-1">+19</span>
                    </span>
                </div>
                <div class="sales-graph p-p-4">
                    <img src="/assets/layout/images/dashboard/sales-graph-1.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6">
        <div class="card widget-topsearchs">
            <div class=card-header>
                <h5>Top Searchs</h5>
                <span class="card-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between item">
                <span>Mat Orange Case</span>
                <span class="value type-green">82% CONV RATE</span>
            </div>
            <div class="p-d-flex p-jc-between item">
                <span>Space T-Shirt</span>
                <span class="value type-green">78% CONV RATE</span>
            </div>
            <div class="p-d-flex p-jc-between item">
                <span>Orange Black Hoodie</span>
                <span class="value type-green">61% CONV RATE</span>
            </div>
            <div class="p-d-flex p-jc-between item">
                <span>Wonders Notebook</span>
                <span class="value type-yellow">48 CONV RATE</span>
            </div>
            <div class="p-d-flex p-jc-between item">
                <span>Robots T-Shirt</span>
                <span class="value type-yellow">34% CONV RATE</span>
            </div>
            <div class="p-d-flex p-jc-between item">
                <span>Green Portal Sticker</span>
                <span class="value type-pink">11% CONV RATE</span>
            </div>
        </div>
    </div>
    
    <div class="p-col-12 p-md-6">
        <div class="card">
            <p-table [value]="products" [paginator]="true" [rows]="3">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="logo">Logo
                            <p-sortIcon field="logo"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Category
                            <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">Price
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="view">View
                            <p-sortIcon field="view"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="50px" />
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.price | currency:'USD'}}</td>
                        <td>
                            <button pRipple pButton type="button" icon="pi pi-search" class="p-button-rounded p-button-text p-mr-2 p-mb-1"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-expenses">
            <div class=card-header>
                <h5>Expenses</h5>
                <span class="card-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="card-subheader p-mb-2 p-pb-3">
                November 22 - November 29
            </div>

            <div class="p-d-flex p-jc-between p-ai-center p-my-2 item">            
                <div class="p-d-flex p-flex-column">
                    <i class="pi pi-cloud type p-mb-2"></i>
                    <span class="value p-mb-1">$30.247</span>
                    <span class="subtext">Cloud Infrastructure</span>
                </div>
                <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-ai-center p-my-2 item">            
                <div class="p-d-flex p-flex-column">
                    <i class="pi pi-tag type p-mb-2"></i>
                    <span class="value p-mb-1">$29.550</span>
                    <span class="subtext">General Goods</span>
                </div>
                <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-ai-center p-my-2 item">            
                <div class="p-d-flex p-flex-column">
                    <i class="pi pi-desktop type p-mb-2"></i>
                    <span class="value p-mb-1">$16.660</span>
                    <span class="subtext">Consumer Electronics</span>
                </div>
                <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-ai-center p-my-2 item">            
                <div class="p-d-flex p-flex-column">
                    <i class="pi pi-compass type p-mb-2"></i>
                    <span class="value p-mb-1">$5.801</span>
                    <span class="subtext">Incalculables</span>
                </div>
                <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-8">
        <div class="card widget-traffic">
            <div class=card-header>
                <h5>All Traffic Channels</h5>
                <span class="card-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-grid">
                <div class="p-col-12 p-md-6 left p-d-flex p-flex-column p-jc-around">
                    <div class="total p-d-flex p-flex-column">
                        <span class="title p-mb-2">Total</span>
                        <span class="value p-mb-5">66.761</span>
                    </div>

                    <div class="info p-d-flex p-jc-between">
                        <div class="organic p-d-flex p-flex-column">
                            <span class="title p-mb-1">Organic</span>
                            <span class="value">51.596</span>
                            <span class="percent p-d-flex p-ai-center">
                                <i class="pi pi-circle-on type-green p-mr-2"></i>
                                35%
                            </span>
                        </div>
                        <div class="direct p-d-flex p-flex-column">
                            <span class="title p-mb-1">Direct</span>
                            <span class="value">11.421</span>
                            <span class="percent p-d-flex p-ai-center">
                                <i class="pi pi-circle-on type-orange p-mr-2"></i>
                                7%
                            </span>
                        </div>
                        <div class="referral p-d-flex p-flex-column">
                            <span class="title p-mb-1">Referral</span>
                            <span class="value">3.862</span>
                            <span class="percent p-d-flex p-ai-center">
                                <i class="pi pi-circle-on type-gray p-mr-2"></i>
                                32%
                            </span>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 right p-d-flex p-jc-center">
                    <p-chart type="pie" [data]="pieData" height="250"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>
