<div class="p-grid dashboard">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-shopping-cart"></i>
                <h6 class="p-m-0 p-pl-2">Orders</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">640</span>
                    <span class="overview-status">1420 Completed</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-orders.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-dollar"></i>
                <h6 class="p-m-0 p-pl-2">Revenue</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">$57K</span>
                    <span class="overview-status">$9,640 Income</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-revenue.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-users"></i>
                <h6 class="p-m-0 p-pl-2">Customers</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">8572</span>
                    <span class="overview-status badge-pink">25402 Registered</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-customers.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-comments"></i>
                <h6 class="p-m-0 p-pl-2">Comments</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">805</span>
                    <span class="overview-status">85 Responded</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-comments.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>Contact</h5>
                <a href="#"><i class="pi pi-ellipsis-h"></i></a>
            </div>

            <ul class="widget-contacts-list">
                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="person-item p-d-flex p-ai-center">
                        <img src="/assets/layout/images/avatar.png">
                        <div class="person-info p-ml-2">
                            <div>Amy Elsner</div>
                            <div class="person-subtext">elsner@ultima.org</div>
                        </div>
                    </div>
                    <div class="person-badges p-d-flex p-ai-center">
                        <span class="badge accounting">Accounting</span>
                        <span class="badge sales p-ml-2">Sales</span>
                    </div>
                </li>

                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="person-item p-d-flex p-ai-center">
                        <img src="/assets/layout/images/avatar1.png">
                        <div class="person-info p-ml-2">
                            <div>Bernardo Dominic</div>
                            <div class="person-subtext">dominic@ultima.org</div>
                        </div>
                    </div>
                    <div class="person-badges">
                        <span class="badge finance">Finance</span>
                        <span class="badge sales p-ml-2">Sales</span>
                    </div>
                </li>

                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="person-item p-d-flex p-ai-center">
                        <img src="/assets/layout/images/avatar2.png">
                        <div class="person-info p-ml-2">
                            <div>Anna Fali</div>
                            <div class="person-subtext">fali@ultima.org</div>
                        </div>
                    </div>
                    <div class="person-badges">
                        <span class="badge management">Management</span>
                    </div>
                </li>

                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="person-item p-d-flex p-ai-center">
                        <img src="/assets/layout/images/avatar3.png">
                        <div class="person-info p-ml-2">
                            <div>Amelie Stone</div>
                            <div class="person-subtext">stone@ultima.org</div>
                        </div>
                    </div>
                    <div class="person-badges">
                        <span class="badge management">Management</span>
                        <span class="badge finance p-ml-2">Finance</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-lg-6">
        <div class="card widget-timeline">
            <div class="card-header">
                <h5>Timeline</h5>
                <a href="#"><i class="pi pi-ellipsis-h"></i></a>
            </div>

            <p-timeline [value]="timelineEvents" align="left" styleClass="customized-timeline">
                <ng-template pTemplate="marker" let-event>
                    <span class="custom-marker p-shadow-2 p-p-2" [style.backgroundColor]="event.color">
                        <i class="marker-icon" [ngClass]="event.icon"></i>
                    </span>
                </ng-template>
                <ng-template pTemplate="content" let-event>
                    <p-card styleClass="p-mb-3" [header]="event.status" [subheader]="event.date">
                        <!--<img *ngIf="event.image" [src]="'assets/showcase/images/demo/product/' + event.image" [alt]="event.name" width="200" class="p-shadow-2" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                        <button pButton label="Read more" class="p-button-text"></button>-->
                    </p-card>
                </ng-template>
            </p-timeline>
        </div>
    </div>

    <div class="p-col-12 p-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>Chat</h5>
                <a href="#"><i class="pi pi-ellipsis-h"></i></a>
            </div>
            <div class="widget-chat">
                <ul>
                    <li class="from p-d-flex p-ai-start p-mb-3">
                        <img class="p-mr-2" src="/assets/layout/images/avatar.png" alt="">
                        <div class="messages p-d-flex p-flex-column p-ai-start">
                            <span class="message p-mb-1">Hey M. hope you are well.</span>
                            <span class="message">Our idea is accepted by the board. Now it’s time to execute it.</span>
                        </div>
                    </li>
                    <li class="own p-d-flex p-ai-start p-jc-end p-mb-3">
                        <div class="messages p-d-flex p-flex-column p-ai-end">
                            <div class="message">We did it! 🤠</div>
                        </div>
                    </li>
                    <li class="from p-d-flex p-ai-start p-mb-3">
                        <img class="p-mr-2" src="/assets/layout/images/avatar.png" alt="">
                        <div class="messages p-d-flex p-flex-column p-ai-start">
                            <span class="message">That's really good!</span>
                        </div>
                    </li>
                    <li class="own p-d-flex p-ai-start p-jc-end p-mb-3">
                        <div class="messages p-d-flex p-flex-column p-ai-end">
                            <div class="message">But it’s important to ship MVP ASAP</div>
                        </div>
                    </li>
                    <li class="from p-d-flex p-ai-start p-mb-3">
                        <img class="p-mr-2" src="/assets/layout/images/avatar.png" alt="">
                        <div class="messages p-d-flex p-flex-column p-ai-start">
                            <span class="message">I’ll be looking at the process then, just to be sure 🤓 </span>
                        </div>
                    </li>
                    <li class="own p-d-flex p-ai-start p-jc-end p-mb-3">
                        <div class="messages p-d-flex p-flex-column p-ai-end">
                            <div class="message">That’s awesome. Thanks!</div>
                        </div>
                    </li>
                </ul>
                <div class="p-inputgroup write-message">
                    <span class="p-inputgroup-addon"><i class="pi pi-plus-circle" style="line-height: 1.25;"></i></span>  
                    <input type="text" pInputText placeholder="Write your message"> 
                    <span class="p-inputgroup-addon"><i class="pi pi-video" style="line-height: 1.25;"></i></span>  
                    <span class="p-inputgroup-addon"><i class="pi pi-clock" style="line-height: 1.25;"></i></span>      
                </div>
            </div>
            
        </div>
    </div>

    <div class="p-col-12 p-lg-3">
        <div class="card">
            <div class="card-header">
                <h5>Activity</h5>
                <a href="#"><i class="pi pi-ellipsis-h"></i></a>
            </div>

            <ul class="widget-activity">
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Income</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="50" [showValue]=false></p-progressBar>
                    </div>
                </li>
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Tax</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="15" [showValue]=false></p-progressBar>
                    </div>
                </li>
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Invoices</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="78" [showValue]=false></p-progressBar>
                    </div>
                </li>
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Expanses</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="66" [showValue]=false></p-progressBar>
                    </div>
                </li>
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Bonus</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="85" [showValue]=false></p-progressBar>
                    </div>
                </li>
                <li>
                    <div class="activity-item p-d-flex p-flex-column">
                        <div class="activity-title p-mb-1">Revenue</div>
                        <div class="activity-subtext p-mb-2">30 November, 16.20</div>
                        <p-progressBar [value]="54" [showValue]=false></p-progressBar>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <div class="p-col-12 p-lg-3">
        <div class="card">
            <div class="card-header">
                <h5>Best Sellers</h5>
                <a href="#"><i class="pi pi-ellipsis-h"></i></a>
            </div>
            <ul class="widget-bestsellers">
                <li>
                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/blue-band.jpg" alt="">
                        <span>Blue Band</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/bracelet.jpg" alt="">
                        <span>Bracelet</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/black-watch.jpg" alt="">
                        <span>Black Watch</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/bamboo-watch.jpg" alt="">
                        <span>Bamboo Watch</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/blue-t-shirt.jpg" alt="">
                        <span>Blue T-Shirt</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/game-controller.jpg" alt="">
                        <span>Game Controller</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/gold-phone-case.jpg" alt="">
                        <span>Phone Case</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>

                    <div class="bestseller-item p-d-flex p-ai-center p-p-3 p-mb-2">
                        <img class="p-mr-3" src="/assets/demo/images/product/purple-t-shirt.jpg" alt="">
                        <span>Purple T-Shirt</span>
                        <span class="item-button"><a href="#"><i class="pi pi-chevron-right"></i></a></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box overview-box-filled p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-shopping-cart"></i>
                <h6 class="p-m-0 p-pl-2">Orders</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">640</span>
                    <span class="overview-status">1420 Completed</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-orders-white.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box overview-box-filled overview-box-filled-yellow p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-dollar"></i>
                <h6 class="p-m-0 p-pl-2">Revenue</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">$57K</span>
                    <span class="overview-status">$9,640 Income</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-revenue-white.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box overview-box-filled overview-box-filled-pink p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-users"></i>
                <h6 class="p-m-0 p-pl-2">Customers</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">8572</span>
                    <span class="overview-status">25402 Registered</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-customers-white.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card overview-box overview-box-filled overview-box-filled-purple p-d-flex p-flex-column"> 
            <div class="p-d-flex p-ai-center">
                <i class="pi pi-comments"></i>
                <h6 class="p-m-0 p-pl-2">Comments</h6>
                <span class="overview-icon"><a href="#"><i class="pi pi-ellipsis-h"></i></a></span>
            </div>
            <div class="p-d-flex p-jc-between p-mt-auto">
                <div class="p-d-flex p-flex-column">
                    <span class="overview-amount p-mb-1">805</span>
                    <span class="overview-status">85 Responded</span>
                </div>
                <div class="p-d-flex p-ai-end">
                    <img src="/assets/layout/images/dashboard/graph-comments-white.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-feature-box">
            <div class="image-container p-d-flex p-jc-center">
                <img src="/assets/layout/images/dashboard/feature-faq.svg" alt="">
            </div>
            <div class="text-container p-d-flex p-flex-column p-ai-center p-mt-3">
                <h5>Frequently Asked Questions</h5>
                <p>We answer all your burning questions about Ultima, and some probably never even thought to ask.</p>
            </div>
            <div class="footer p-d-flex p-jc-between p-ai-center p-mt-3">
                <span class="info-left">46 Questions</span>
                <p-button label="VIEW FAQ"></p-button>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-feature-box">
            <div class="image-container p-d-flex p-jc-center">
                <img src="/assets/layout/images/dashboard/feature-onboarding.svg" alt="">
            </div>
            <div class="text-container p-d-flex p-flex-column p-ai-center p-mt-3">
                <h5>Onboarding</h5>
                <p>Follow the steps to start your Ultima adventure withing a few days.</p>
            </div>
            <div class="footer p-d-flex p-jc-between p-ai-center p-mt-3">
                <span class="info-left">3 Steps Left</span>
                <p-button label="VIEW STEPS"></p-button>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-feature-box">
            <div class="image-container p-d-flex p-jc-center">
                <img src="/assets/layout/images/dashboard/feature-security.svg" alt="">
            </div>
            <div class="text-container p-d-flex p-flex-column p-ai-center p-mt-3">
                <h5>Security Center</h5>
                <p>Security surveillance management and threat protection for your Ultima cloud workloads.</p>
            </div>
            <div class="footer p-d-flex p-jc-between p-ai-center p-mt-3">
                <span class="info-left">824 End-Points</span>
                <p-button label="VIEW CENTER"></p-button>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card">
            <div class="card-header">
                <h5>Documents</h5>
            </div>

            <ul class="widget-documents">
                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="documents-item p-d-flex p-ai-center">
                        <div class="icon-container p-d-flex p-ai-center p-jc-center">
                            <i class="pi pi-star"></i>
                        </div>
                        <div class="item-info p-ml-2">
                            <div>Design Team | Sprint 021</div>
                            <div class="item-subtext">21MB</div>
                        </div>
                    </div>
                    <div class="item-actions">
                        <button pButton pRipple type="button" icon="pi pi-copy" class="p-button p-button-outlined p-mr-1"></button>
                        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button p-button-outlined"></button>
                    </div>
                </li>

                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="documents-item p-d-flex p-ai-center">
                        <div class="icon-container p-d-flex p-ai-center p-jc-center type-yellow">
                            <i class="pi pi-file-excel"></i>
                        </div>
                        <div class="item-info p-ml-2">
                            <div>Elite Report 2020-Q4</div>
                            <div class="item-subtext">56.00MB</div>
                        </div>
                    </div>
                    <div class="item-actions">
                        <button pButton pRipple type="button" icon="pi pi-copy" class="p-button p-button-outlined p-mr-1"></button>
                        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button p-button-outlined"></button>
                    </div>
                </li>

                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="documents-item p-d-flex p-ai-center">
                        <div class="icon-container p-d-flex p-ai-center p-jc-center type-green">
                            <i class="pi pi-image"></i>
                        </div>
                        <div class="item-info p-ml-2">
                            <div>Ultima Marketing Assets</div>
                            <div class="item-subtext">1.29GB</div>
                        </div>
                    </div>
                    <div class="item-actions">
                        <button pButton pRipple type="button" icon="pi pi-copy" class="p-button p-button-outlined p-mr-1"></button>
                        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button p-button-outlined"></button>
                    </div>
                </li>

                <li class="p-d-flex p-ai-center p-jc-between">
                    <div class="documents-item p-d-flex p-ai-center">
                        <div class="icon-container p-d-flex p-ai-center p-jc-center type-gray">
                            <i class="pi pi-file"></i>
                        </div>
                        <div class="item-info p-ml-2">
                            <div>Ultima Remastered Docs</div>
                            <div class="item-subtext">26.54KB</div>
                        </div>
                    </div>
                    <div class="item-actions">
                        <button pButton pRipple type="button" icon="pi pi-copy" class="p-button p-button-outlined p-mr-1"></button>
                        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button p-button-outlined"></button>
                    </div>
                </li>
            </ul>
            
            <div class="footer p-mt-4">
                <button pButton pRipple type="button" label="Download All" icon="pi pi-cloud-download" class="p-button-text p-button-plain"></button>            
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-8">
        <div class="card">
            <div class="card-header">
                <h5>Alternative Graph</h5>
            </div>
            <!--<p-chart type="line" [data]="chartData" responsive="true"></p-chart>-->
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-map">
            <div class="map-container">
                <div class="p-inputgroup p-p-3">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input type="text" pInputText placeholder="Search for delivery">         
                </div>
            </div>
            <div class="footer p-mt-3 p-d-flex p-jc-between p-ai-center">
                <div class="actions">
                    <button pButton pRipple type="button" icon="pi pi-share-alt" class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple type="button" icon="pi pi-compass" class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text"></button>
                </div>
                <div class="link">
                    <button pButton pRipple type="button" label="View on Google Maps" class="p-button-text p-button-plain"></button>            
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="p-col-12 p-lg-4">
        <div class="card widget-weeklyoverview">
            <div class=card-header>
                <h5>Overview</h5>
            </div>
            <div class="card-subheader p-mb-2 p-pb-3">
                Last 7 Months
            </div>

            <ul>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W1</span>
                        <span class="value">41/100</span>
                    </div>
                    <p-progressBar [value]="41" [showValue]=false></p-progressBar>
                </li>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W2</span>
                        <span class="value">23/100</span>
                    </div>
                    <p-progressBar [value]="23" [showValue]=false></p-progressBar>
                </li>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W3</span>
                        <span class="value">81/100</span>
                    </div>
                    <p-progressBar [value]="81" [showValue]=false></p-progressBar>
                </li>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W4</span>
                        <span class="value">33/100</span>
                    </div>
                    <p-progressBar [value]="33" [showValue]=false></p-progressBar>
                </li>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W5</span>
                        <span class="value">37/100</span>
                    </div>
                    <p-progressBar [value]="37" [showValue]=false></p-progressBar>
                </li>
                <li class="p-mb-3">
                    <div class="p-d-flex p-jc-between p-mb-1">
                        <span>W6</span>
                        <span class="value">12/100</span>
                    </div>
                    <p-progressBar [value]="12" [showValue]=false></p-progressBar>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card widget-profile p-d-flex p-flex-column p-ai-center">
            <img class="p-mt-3" src="/assets/layout/images/avatar.png" alt="">
            <span class="name p-mt-5">John Doe</span>

            <div class="location p-d-flex p-ai-center p-mt-1">
                <i class="pi pi-map-marker p-mr-1"></i>
                <span>London UK</span>
            </div>
            
            <div class="stats p-d-flex p-jc-between p-px-6 p-mt-6 p-mb-3">
                <div class="stat p-d-flex p-flex-column p-ai-center">
                    <span>FRIENDS</span>
                    <span class="stat-value p-mt-2">660</span>
                </div>
                <div class="stat p-d-flex p-flex-column p-ai-center">
                    <span>COMMENTS</span>
                    <span class="stat-value p-mt-2">98K</span>
                </div>
                <div class="stat p-d-flex p-flex-column p-ai-center">
                    <span>PROJECTS</span>
                    <span class="stat-value p-mt-2">51</span>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6">
        <div class="card widget-daily-users p-mt-5">
            <div class="graph-container p-p-3">
                <p-chart type="line" [data]="chartData" responsive="true"></p-chart>
            </div>
            <div class="info p-d-flex p-flex-column p-jc-center p-ai-center">
                <span class="value p-mb-1">5.758</span>
                <span class="subtext p-mb-3">Daily Users</span>
                <i class="pi pi-users"></i>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6">
        <div class="card widget-blog p-mt-5">
            <div class="image-container">
                <img src="/assets/layout/images/dashboard/image-blog.jpg" alt="">            
            </div>
            <div class="info p-d-flex p-flex-column p-jc-center p-ai-center">
                <span class="title p-mb-1">A New Headquarters</span>
                <span class="category p-mb-3">Company News</span>
                <span class="content"> The decision has been made. To mark the beginning of a new chapter in its history, Ultima will move from the Quartier in Tokyo to a new location in Hong Kong. The new location – near the airport – reflects the requirements of an internationally active brand. New Office concepts provide modern way of close collaboration.</span>
            </div>

            <div class="footer p-d-flex p-jc-between p-ai-center p-mt-5">
                <div class="left">
                    <button pButton pRipple type="button" label="Learn More" icon="pi pi-plus-circle" class="p-button-text p-button-plain"></button>
                </div>
                <div class="right">
                    <button pButton pRipple type="button" icon="pi pi-share-alt" class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text"></button>                
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Monthly Comparison</h5>
                <a href="#"><i class="pi pi-ellipsis-h"></i></a>
            </div>
            
            <p-chart type="bar" [data]="chartData" responsive="true"></p-chart>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-insights">
            <div class=card-header>
                <h5>Insights</h5>
                <a href="#"><i class="pi pi-ellipsis-h"></i></a>
            </div>
            <div class="card-subheader p-mb-2 p-pb-3">
                November 22 - November 29
            </div>
            <div class="p-d-flex p-flex-column p-ai-center insight-container">
                <img class="p-mt-3" src="/assets/layout/images/dashboard/graph-weekly.svg" alt="">
                <div class="insight-item p-d-flex p-flex-row p-mt-4 p-px-3">
                    <i class="pi pi-thumbs-up"></i>
                    <div class="p-d-flex p-flex-column p-ml-3">
                        <span class="title">Best Day of the Week</span>
                        <span class="day">Monday</span>
                    </div>
                    <span class="value">660</span>
                </div>
                <div class="insight-item p-d-flex p-flex-row p-my-4 p-px-3">
                    <i class="pi pi-thumbs-down type2"></i>
                    <div class="p-d-flex p-flex-column p-ml-3">
                        <span class="title">Worst Day of the Week</span>
                        <span class="day">Wednesday</span>
                    </div>
                    <span class="value">34</span>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-social">
            <div class="p-d-flex p-jc-between p-ai-center p-p-3">
                <div class="social-icon">
                    <i class="pi pi-twitter"></i>
                </div>
                <div class="info p-d-flex p-flex-column">
                    <span class="value">44.995</span>
                    <span class="subtext p-mt-2">Retweets</span>
                </div>
            </div>

            <div class="stats p-d-flex p-jc-between p-mt-3">
                <div class="left p-d-flex p-flex-column ">
                    <span class="title">Target</span>
                    <span class="value p-mb-2">10.000</span>
                    <p-progressBar [value]="50" [showValue]=false></p-progressBar>
                </div>
                <div class="right p-d-flex p-flex-column">
                    <span class="title">All Time Record</span>
                    <span class="value p-mb-2">50.702</span>
                    <p-progressBar [value]="24" [showValue]=false></p-progressBar>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-social">
            <div class="p-d-flex p-jc-between p-ai-center p-p-3">
                <div class="social-icon">
                    <i class="pi pi-facebook"></i>
                </div>
                <div class="info p-d-flex p-flex-column">
                    <span class="value">44.995</span>
                    <span class="subtext p-mt-2">Facebook Interactions</span>
                </div>
            </div>

            <div class="stats p-d-flex p-jc-between p-mt-3">
                <div class="left p-d-flex p-flex-column ">
                    <span class="title">Target</span>
                    <span class="value p-mb-2">10.000</span>
                    <p-progressBar [value]="23" [showValue]=false></p-progressBar>
                </div>
                <div class="right p-d-flex p-flex-column">
                    <span class="title">All Time Record</span>
                    <span class="value p-mb-2">99.028</span>
                    <p-progressBar [value]="38" [showValue]=false></p-progressBar>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-social">
            <div class="p-d-flex p-jc-between p-ai-center p-p-3">
                <div class="social-icon">
                    <i class="pi pi-github"></i>
                </div>
                <div class="info p-d-flex p-flex-column">
                    <span class="value">81.002</span>
                    <span class="subtext p-mt-2">Star</span>
                </div>
            </div>

            <div class="stats p-d-flex p-jc-between p-mt-3">
                <div class="left p-d-flex p-flex-column ">
                    <span class="title">Target</span>
                    <span class="value p-mb-2">10.000</span>
                    <p-progressBar [value]="62" [showValue]=false></p-progressBar>
                </div>
                <div class="right p-d-flex p-flex-column">
                    <span class="title">All Time Record</span>
                    <span class="value p-mb-2">162.550</span>
                    <p-progressBar [value]="14" [showValue]=false></p-progressBar>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-12">
        <div class="card p-grid widget-sales">
            <div class="p-lg-3 p-md-6 p-sm-12">
                <div class="sales-info p-d-flex p-flex-column p-p-4">
                    <span class="title">Store A Sales</span>
                    <span class="value p-mt-2">
                        $44.995
                        <span class="difference p-ml-1">+1.200</span>
                    </span>
                </div>
                <div class="sales-graph p-p-4">
                    <img src="/assets/layout/images/dashboard/sales-graph-1.svg" alt="">
                </div>
            </div>
            <div class="p-lg-3 p-md-6 p-sm-12">
                <div class="sales-info p-d-flex p-flex-column p-p-4">
                    <span class="title">Store A Sales</span>
                    <span class="value p-mt-2">
                        $44.995
                        <span class="difference p-ml-1">+1.200</span>
                    </span>
                </div>
                <div class="sales-graph p-p-4">
                    <img src="/assets/layout/images/dashboard/sales-graph-1.svg" alt="">
                </div>
            </div>
            <div class="p-lg-3 p-md-6 p-sm-12">
                <div class="sales-info p-d-flex p-flex-column p-p-4">
                    <span class="title">Store A Sales</span>
                    <span class="value p-mt-2">
                        $44.995
                        <span class="difference p-ml-1">+1.200</span>
                    </span>
                </div>
                <div class="sales-graph p-p-4">
                    <img src="/assets/layout/images/dashboard/sales-graph-1.svg" alt="">
                </div>
            </div>
            <div class="p-lg-3 p-md-6 p-sm-12">
                <div class="sales-info p-d-flex p-flex-column p-p-4">
                    <span class="title">Store A Sales</span>
                    <span class="value p-mt-2">
                        $44.995
                        <span class="difference p-ml-1">+1.200</span>
                    </span>
                </div>
                <div class="sales-graph p-p-4">
                    <img src="/assets/layout/images/dashboard/sales-graph-1.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    
    <div class="p-col-12 p-md-6">
        <div class="card">
            <p-table [value]="products" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="logo">Logo
                            <p-sortIcon field="logo"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Category
                            <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">Price
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="view">View
                            <p-sortIcon field="view"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="50px" />
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.price | currency:'USD'}}</td>
                        <td>
                            <button pRipple pButton type="button" icon="pi pi-search" class="p-button-rounded p-button-text p-mr-2 p-mb-1"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
