.layout-topbar-dark {
    $topbarBgColor: #363636;
    $topbarLeftBgColor: #212121;

    $topbarMenuButtonBgColor:#E91E63;
    $topbarMenuButtonTextColor:#ffffff;

    $topbarItemTextColor: #ffffff;
    $topbarItemTextHoverBgColor: rgba(255,255,255,.12);

    @import '../_topbar_theme';
}
