<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                        (click)="openNew()"></button>
                    <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload> -->
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help p-mb-2"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="programas$ | async" [columns]="colsCSV" [rows]="10" [paginator]="true"
                [globalFilterFields]="['codPro','descripcionOCM']" [(selection)]="selectedProgramas" [rowHover]="true"
                dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} programas"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Programas</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar..." />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="Codigo" style="padding: 2px;background-color: #515963; width: 7%">Código
                            <p-sortIcon field="Codigo"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Descripcion" style="padding: 2px;background-color: #515963; width: 24%">
                            Descripción <p-sortIcon field="Descripcion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Observaciones" style="background-color: #515963; width: 30%">Observaciones
                        </th>
                        <th pSortableColumn="WEBOCM" style="background-color: #515963; width: 20%">WEB OCM</th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-programa>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="programa"></p-tableCheckbox>
                        </td>
                        <td> {{programa.codPro}} </td>
                        <td> {{ programa.descripcionOCM }} </td>
                        <td> {{programa.observaciones}} </td>
                        <td>
                            <!-- <a href="{{ product.WebOCM }}" target="_blank" *ngIf(product.WebOCM)>Ir a pagina OCM</a> -->
                            <a href="{{ programa.WebOCM }}" target="_blank">{{ programa.WebOCM }}</a>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-warning p-mr-2"
                                (click)="detailPrograma(programa.codPro, programa.descripcionOCM)">
                            </button>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                (click)="editPrograma(programa)"></button>
                            <!-- [routerLink]="['/pages/programaDetail']" -->
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                (click)="deletePrograma(programa)"></button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>

        <form novalidate [formGroup]="formGroup" (ngSubmit)="savePrograma()">
            <p-dialog [(visible)]="programaDialog" [style]="{width: '650px'}" header="Detalles programa" [modal]="true"
                styleClass="p-fluid">
                <ng-template pTemplate="content">

                    <div class="p-field">
                        <label for="codPro">codPro</label>
                        <input type="text" id="codPro" pInputTextarea autofocus formControlName="codPro">

                        <!-- <input *ngIf="codProField.hasError('required')" style="background-color: red;" type="text"
                            id="codPro" pInputTextarea autofocus formControlName="codPro"> -->
                        <!-- <input *ngIf="codProField.hasNoError()" style="background-color: green;" type="text" id="codPro"
                            pInputTextarea formControlName="codPro"> -->

                        <small class="OCM-error" *ngIf="codProField.hasError('required')">
                            codPro es obligatorio.</small>
                        <small class="OCM-error" *ngIf="codProField.hasError('minlength')">
                            codPro debe tener al menos 5 caracteres.</small>
                    </div>

                    <div class="p-field">
                        <label for="descripcionAyto">descripcionAyto</label>
                        <input type="text" id="descripcionAyto" pInputTextarea formControlName="descripcionAyto">
                        <small class="OCM-error" *ngIf="descriptionAytoField.hasError('required')">
                            descripcionAyto es obligatorio.</small>
                        <small class="OCM-error" *ngIf="descriptionAytoField.hasError('minlength')">
                            descripcionAyto debe tener al menos 20 caracteres.</small>
                    </div>

                    <div class="p-field">
                        <label for="name">descripcionOCM</label>
                        <input type="text" styleClass="p-d-block ui-state-error" pInputText id="descripcionOCM"
                            formControlName="descripcionOCM">
                        <small class="OCM-error" *ngIf="descriptionOCMField.hasError('required')">
                            descripcionOCM es obligatorio.</small>
                        <small class="OCM-error" *ngIf="descriptionOCMField.hasError('minlength')">
                            descripcionAyto debe tener al menos 20 caracteres.</small>
                    </div>

                    <div class="p-field">
                        <label for="WebOCM">WebOCM</label>
                        <input type="text" id="WebOCM" pInputTextarea formControlName="WebOCM">
                        <small class="OCM-error" *ngIf="WebOCMOCMField.hasError('pattern')">
                            La URL no es correcta.</small>
                    </div>

                    <!-- <div class="p-field">
                        <label for="proCreatedDate">proCreatedDate</label>
                        <input type="text" id="proCreatedDate" pInputTextarea formControlName="proCreatedDate"
                            >
                    </div>

                    <div class="p-field">
                        <label for="proDeletedDate">proDeletedDate</label>
                        <input type="text" id="proDeletedDate" pInputTextarea formControlName="proDeletedDate"
                            >
                    </div> -->

                    <div class="p-field">
                        <label for="uso">uso</label>
                        <input type="text" id="uso" pInputTextarea formControlName="uso">
                    </div>

                    <div class="p-field">
                        <label for="codOrg">codOrg</label>
                        <input type="text" id="codOrg" pInputTextarea formControlName="codOrg">
                    </div>

                    <div class="p-field">
                        <label for="Observaciones">Observaciones</label>
                        <input type="text" id="Observaciones" pInputTextarea formControlName="observaciones">
                    </div>

                </ng-template>

                <ng-template pTemplate="footer">
                    <button class="OCM-Button" type="button" (click)="hideDialog()">Cancelar</button>
                    <button [disabled]="formGroup!.invalid" class="OCM-Button" type="submit">Grabar</button>
                </ng-template>

            </p-dialog>
        </form>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>